html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, span, a, b, img, em, del, label, form, fieldset, input, p, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
th, em, i {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: outside none none;
}
fieldset, img, a img {
    border: 0 none;
}
input, img {
    vertical-align: middle;
}
input {
}
button, input, select, textarea {
    font-family: "Microsoft Yahei";
    font-size: 100%;
    outline: medium none;
}
.alR {
    text-align: right;
}
.alL {
    text-align: left;
}
.alC {
    text-align: center;
}
del {
    color: #999;
    text-decoration: line-through;
}
body {
    background-color: #f2f2f2;
    color: #666;
    font: 12px/150% tahoma,Arial,Verdana,"����";
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.red, a.red {
    color: #c40000;
}
.gray, .c9, a.gray {
    color: #999;
}
.c5, a.c5 {
    color: #555;
}
.c3, a.c3 {
    color: #333;
}
.c8 {
    color: #888;
}
.tre {
    color: #af874d;
}
.cb, a.cb {
    color: #3388bb;
}
.tre {
    color: #9e8e82;
}
.org {
    color: #ff7700;
}
.blue {
    color: #4782c3;
}
.green {
    color: #38b512;
}
.xj {
    color: #c40000;
    font-size: 14px;
}
.fB {
    font-weight: bold;
}
.fI {
    font-style: italic;
}
.fN {
    font-weight: normal;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f24 {
    font-size: 24px;
}
.lh16 {
    line-height: 16px;
}
.lh18 {
    line-height: 18px;
}
.lh20 {
    line-height: 20px;
}
.lh25 {
    line-height: 25px;
}
.lh30 {
    line-height: 30px;
}
.lh35 {
    line-height: 35px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {display:inline-block;}
.hid {display: none;}
.OverH { overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ov {overflow: hidden;position: relative;}
.over {overflow: hidden;}
.mb5 { margin-bottom: 5px;}
.ml5 {margin-left: 5px;}
.mt5 {margin-top: 5px;}
.mr5 {margin-right: 5px;}
.pb5 {padding-bottom: 5px;}
.pl5 {padding-left: 5px;}
.pt5 {padding-top: 5px;}
.pr5 { padding-right: 5px;}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mr10 {
    margin-right: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl10 {
    padding-left: 10px;
}
.pt10 {
    padding-top: 10px;
}
.pr10 {
    padding-right: 10px;
}
@font-face {
    font-family: "vgan";
}
.f {
    font-family: "vgan" !important;
}
.U, .U a {
    text-decoration: underline;
}
.nua:hover {
    color: #c40000;
    text-decoration: none;
}
.hand {
    cursor: pointer;
}
.wb {
    word-break: break-all;
    word-wrap: break-word;
}
.wn {
    white-space: nowrap;
}
.vline {
    color: #ccc;
    padding: 0 8px;
}
.xline {
    text-decoration: line-through;
}
.yahei, .xj {
    font-family: "Microsoft Yahei";
}
.rel {
    position: relative;
}
.w {
    margin: 0 auto;
    width: 1190px;
}
.w9 {
    margin: 0 auto;
    width: 990px;
}
.w10 {
    width: 110%;
}
.dinl {
    display: inline;
}
#top {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    color: #888;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.z_k, .z_kh {
    background-color: #cc4026;
    color: #fff;
    padding: 2px 5px;
}
.bgw {
    background-color: #fff;
}
.load img, .gdes img {
    background: #fff url("load.gif") no-repeat scroll 50% 50%;
}
#top, #header, #footer, #l_nav {
    min-width: 990px;
}
.tul li {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    float: left;
    margin-left: 5px;
    position: relative;
    z-index: 11;
}
.nbt {
    padding: 0 15px 0 8px;
}
.rdop {
    border-color: #bbb transparent transparent;
    border-style: solid dashed dashed;
    border-width: 3px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 2px;
    top: 15px;
    transition: transform 0.2s ease-in 0s;
    width: 0;
}
.tul li.on {
    background-color: #fff;
    border-color: #e5e5e5;
}
.tul li.on .rdop {
    transform: rotate(180deg);
    transform-origin: 50% 30% 0;
}
.tuln {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #e5e5e5 #e5e5e5;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    left: -1px;
    padding: 5px 0;
    position: absolute;
    top: 30px;
}
.tul a {
    color: #999;
}
.tuln a {
    color: #555;
    display: block;
    padding: 0 8px;
    width: 80px;
}
.tul li.on .tuln {
    display: block;
}
.mt1 {
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.t_v {
    background: rgba(0, 0, 0, 0) url("../images/i.png") repeat scroll 0 -806px;
    color: #fff;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    padding: 0 2px 2px;
    width: 14px;
}
#top a:hover {
    color: #c40000;
    text-decoration: none;
}
#top a {
	color:#666;
	font-size:12.5px;
	font-style:normal;
}
#header {
    background-color: #fff;
    height: 78px;
    padding-top: 25px;
}
#header .rel{
	height:70px;
	margin-left:19px;
}
#header .rel img{
	height:60px;
}
.logo {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 148px;
}

.chead {
    left: 150px;
    position: absolute;
    top: -10px;
}
.search {
    margin: 0 187px;
    position: relative;
    z-index: 10;
}
.shl {
    border: 2px solid #d01e1e;
    color: #c2c2c2;
    display: inline;
    height: 34px;
    line-height: 34px;
    padding-left: 5px;
    width: 420px;
}
.search .c3 {
    color: #333;
}
.shr {
    background-color: #d01e1e;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    height: 38px;
    line-height: 36px;
    width: 65px;
}
.hotw a {
    color: #999;
    line-height: 30px;
}
.hotw a:hover {
    color: #c40000;
    text-decoration: none;
}
#s_box {
    background-color: #fff;
    border: 1px solid #cc4026;
    display: none;
    left: 0;
    line-height: 26px;
    position: absolute;
    top: 37px;
    width: 425px;
}
#s_box a {
    display: block;
    height: 26px;
    overflow: hidden;
    padding: 0 10px;
    white-space: nowrap;
}
#s_box a.on {
    background-color: #c40000;
    color: #fff;
}
#s_box a:hover {
    text-decoration: none;
}
.tr_c {
    height: 38px;
    position: relative;
    width: 136px;
    z-index: 10;
}
.t_c {
    background: #f9f9f9 url("../images/i.png") no-repeat scroll 10px -27px;
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
    position: relative;
    width: 94px;
    z-index: 2;
}
.ci_r {
    color: #999;
    font-family: simsun;
    margin-left: 16px;
}
#qcar {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 0 -65px;
    color: #fff;
    display: block;
    height: 15px;
    line-height: 13px;
    overflow: hidden;
    position: absolute;
    right: 22px;
    text-align: center;
    top: -9px;
    width: 16px;
}
.t_c:hover {
    color: #c40000;
    text-decoration: none;
}
#acar {
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    right: 0;
    top: 36px;
    width: 260px;
}
.acar li {
    border-bottom: 1px dotted #ddd;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 240px;
}
.acar li a {
    display: block;
    line-height: 16px;
    width: 240px;
}
.acar li a:hover {
    color: #000;
    text-decoration: none;
}
.acar li a img {
    float: left;
    margin-right: 10px;
}
.ac_t {
    color: #666;
    padding: 10px;
    width: 240px;
}
.srbtn {
    background-color: #cc4026;
    color: #fff;
    display: block;
    line-height: 28px;
    text-align: center;
    width: 100%;
}
.srbtn:hover {
    background-color: #c40000;
    text-decoration: none;
}
.hv #acar {
    display: block;
}
.hv .t_c {
    background-color: #fff;
    border-bottom: medium none;
}
.navq {
    background-color: #fff;
    border-bottom: 2px solid #B1191A;  /*1px solid #e5e5e5*/
    font-family: "Microsoft Yahei";
    height: 34px;
}
.hnavq {
    border: medium none;
    box-shadow: 0 3px 3px rgba(153, 153, 153, 0.2);
    position: relative;
    z-index: 9;
}
.navs li {
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 34px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}
.navs a {
    color: #333;
    display: block;
    float: left;
    padding: 0 20px;
}
.navs a:hover, .navs a.on {
    color: #c40000;
    text-decoration: none;
}
.navs a::before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 0;
    left: 20px;
    position: absolute;
    right: 20px;
    transition: all 0.3s ease 0s;
    width: auto;
    z-index: 0;
}
.navs li:hover a::before {
    background-color: #c40000;
    height: 3px;
}
.nhot {
    position: absolute;
    right: 10px;
    top: -1px;
    z-index: 2;
}
.lcat {
    color: #fff;
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    width: 190px;
    z-index: 10;
}
.nall {
    background-color: #c40000;
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-indent: 54px;
    width: 190px;
}
.lnav {
    background-color: #d01e1e;
    height: 440px;
    left: 0;
    padding-top: 10px;
    position: absolute;
    top: 34px;
    width: 190px;
}
.lnav li {
    border-left: 2px solid #d01e1e;
    color: #fff;
    float: left;
    height: 38px;
    width: 188px;
}
.lma {
    color: #fff;
    display: inline-block;
    line-height: 38px;
    width: 135px;
}
.lma:hover {
    text-decoration: none;
}
.lnav .f {
    float: left;
    font-size: 18px;
    line-height: 38px;
    margin: 0 15px 0 18px;
    width: 18px;
}
.lra {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #d01e1e #d01e1e #d01e1e -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    display: none;
    height: 429px;
    left: 190px;
    padding: 10px;
    position: absolute;
    top: -1px;
    width: 270px;
    z-index: 2;
}
.lh3 {
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-size: 14px;
    line-height: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: right;
    width: 248px;
}
.lh3 .right {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}
.boa a {
    background-color: #7c7171;
    color: #fff;
    display: inline;
    float: left;
    line-height: 25px;
    margin: 10px;
    text-align: center;
    width: 114px;
}
.boa a:hover {
    background-color: #c40000;
    text-decoration: none;
}
.bom a {
    display: inline-block;
    line-height: 30px;
    padding: 5px 0 0 10px;
}
.lnav a.m:hover {
    text-decoration: none;
}
.con {
    background-color: #fff;
}
.con .f, .con .lma {
    color: #c40000;
}
.con .lra {
    display: block;
}
#bignav .lnav {
    display: none;
}
#footer {
    background-color: #fff;
    margin-top: 35px;
    padding-top: 10px;
}
.ft_t {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0 20px;
    width: 100%;
}
.f_dl {
    float: left;
    line-height: 24px;
    margin: 20px 94px 30px 0;
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
}
.mr0 {
    margin-right: 0;
}
.f_dl dt {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.f_dl a {
    color: #999;
    display: block;
}
.f_dot {
	border-top:2px solid #c40000;
	background-color:#33302B;
    color: #f9f9f9;
    line-height: 20px;
    padding: 20px 0 30px;
    text-align: center;
}
.f_dot .c9{
	color:#f9f9f9;
}
.op6 {
    opacity: 0.6;
}
.minbar {
    bottom: 0;
    height: 100%;
    position: fixed;
    right: 0;
    width: 35px;
    z-index: 20;
}
.minbar  .iconfont{
	font-size:18px;
}
.r_panel {
    background: #7A6E6E none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 35px;
    z-index: 2;
}
.minbar a:hover {
    text-decoration: none;
}
#m_mid {
    /*margin-top: -210px;*/
    position: absolute;
    top: 38%;
}
.m_li {
    background-color: #7A6E6E;
    color: #fff;
    font-size: 12px;
    height: 35px;
    line-height: 14px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 35px;
}
.m_mid .f {
    color: #fff;
    font-size: 22px;
    line-height: 35px;
}
.m_lih {
    height: auto;
    padding-top: 5px;
}
.m_lih, .m_tops {
    left: 0;
    transition: all 0.3s ease 0s;
}
.rt_line {
    height: 1px;
    margin: 0 auto;
    overflow: hidden;
    width: 24px;
}
.mr_wd {
    color: #fff;
    display: block;
    line-height: 15px;
    margin: 2px auto 5px;
    overflow: hidden;
    width: 20px;
}
.r_av {
    display: none;
    opacity: 0;
    right: 70px;
}
#carr_num {
    background-color: #c40000;
    border-radius: 7px;
    color: #fff;
    display: block;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 0;
    width: 14px;
}
.m_tr {
    background-color: #7A6E6E;
    color: #fff;
    height: 35px;
    line-height: 33px;
    position: absolute;
    right: 35px;
    text-align: center;
    top: 0;
    width: 100px;
}
.r_vt {
    color: #7A6E6E;
    font-size: 20px;
    position: absolute;
    right: -6.5px;
    top: 0;
}
.m_lion {
    background-color: #c40000;
}
.m_lion .r_av {
    display: block;
}
.m_lion .f {
    color: #fff;
}
.r_ma, .r_top {
    background: rgba(0, 0, 0, 0) url("../images/i.png") repeat scroll 50% -90px;
    display: block;
    float: left;
    height: 35px;
    width: 35px;
}
.r_top {
    background-position: 50% -255px;
}
.m_mid .f20 {
    color: #ccc;
    font-size: 20px;
}
#ghis, #racar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5 -moz-use-text-color #e5e5e5 #e5e5e5;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    color: #333;
    height: auto;
    top: 0;
    width: 270px;
}
#racar {
    line-height: 18px;
}
#ghis .r_vt, #racar .r_vt {
    color: #fff;
}
.hs_ra {
    color: #a9a9a9;
    display: inline;
    float: left;
    height: 90px;
    line-height: 20px;
    margin: 5px 10px;
    overflow: hidden;
    width: 70px;
}
.zpin .r_panel {
    left: 35px;
}
.zpin .m_lih, .zpin .m_tops {
    left: -35px;
}
#m_fma {
    height: auto;
    padding: 10px;
    top: -55px;
    width: 130px;
}
#m_fma .r_vt {
    top: 56px;
}
#m_fid {
    bottom: 5px;
    position: absolute;
    right: 0;
}
.page {
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
}
.page a {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    font: 400 14px simsun;
    margin-bottom: 5px;
    padding: 10px 14px;
	margin:0 2.5px;
}
.page strong {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    display: inline-block;
    font: 400 14px simsun;
    margin-bottom: 5px;
    padding: 10px 14px;
	background-color: #c40000;
	border-color: #c40000;
	color: #fff;
	text-decoration: none;
}
.page a:hover, .page a.on {
    background-color: #c40000;
    border-color: #c40000;
    color: #fff;
    text-decoration: none;
}
.rmb {
    color: #c40000;
    font-family: arial;
    padding-right: 2px;
}
.yen {
    color: #c40000;
    font-family: Arial;
    font-size: 18px;
}
.bl_red {
    border-left: 4px solid #c40000;
    color: #333;
    font-size: 14px;
    line-height: 16px;
    margin: 15px 0;
    overflow: hidden;
    padding: 0 15px;
}
.w_hd {
    height: 90px;
    position: relative;
}
.w_hd a {
    display: block;
    width: 1190px;
}
.gbod {
    background-color: #eee;
    padding: 15px;
}
.yelbor {
    background-color: #fefef1;
    border: 1px solid #f7d9ac;
    padding: 10px;
}
.redb, .huib, .xhb, .green_btn {
    background-color: #cc4026;
    border: medium none;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
}
.huib {
    background-color: #aaa;
}
.xhb {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
}
.green_btn {
    background-color: #4ec063;
}
.redb:hover, .huib:hover, .xhb:hover, .green_btn:hover {
    background-color: #c40000;
    color: #fff;
    text-decoration: none;
}
.b_sub, .bigsee {
    background-color: #c40000;
    border: 1px solid #b22409;
    color: #fff;
    cursor: pointer;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    text-align: center;
}
.select {
    border: 1px solid #ddd;
    height: 30px;
    margin-right: 5px;
}
.pbox {
    background-color: #fff;
    border: 3px solid #c40000;
    left: 50%;
    margin-left: -150px;
    padding: 20px;
    position: fixed;
    top: 200px;
    width: 300px;
    z-index: 12;
}
.mask {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}
.g_b {
    background-color: #c40000;
    color: #fff;
    height: 20px;
    line-height: 17px;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
}
.hvb img, .h_sex img {
    transition: all 0.3s ease 0s;
}
.hvb:hover img {
    opacity: 0.9;
}
.h_sex a:hover img {
    transform: scale(1.03);
}
.p_bg {
    background: rgba(0, 0, 0, 0) url("ft/wu.png") repeat-x scroll 0 0;
}
.hs_t {
	background-color:#fff;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 3px #ccc;
    height: 40px;
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: fixed;
    top: -60px;
    transition: top 0.3s ease 0s;
    width: 100%;
    z-index: 20;
}
.hs_t .shl {
    height: 32px;
    width: 600px;
}
.hs_t .shr {
    height: 36px;
}
.hs_fix {
    top: 0;
}
@keyframes rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.focus {
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.f_ul {
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.f_ul li {
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: none;
    height: 450px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.f_ul li a{height:450px;max-width:1920px;min-width:1024px;margin:0 auto;display: block;}
.f_ul li a img{height:100%;width:100%;}
.btn {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.btn span {
    background-color: #3E3E3E;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin: 0 3px;
    width: 20px;
}
.btn span.on {
    background-color: #c40000;
}
.h_pre, .h_nxt, .h_pres, .h_nxts {
	background:rgba(0, 0, 0, 0.2) none repeat scroll 0 0 ; /*background-color: #000;*/
    color: #fff;
    display: none;
    font: 400 30px/62px simsun;
    height: 62px;
    opacity: 0.6;
    position: absolute;
    text-align: center;
    top: 180px;
    width: 28px;
}
.h_pre {
    left: 50%;
    margin-left: -405px;
}
.h_nxt {
    margin-right: -405px;
    right: 50%;
}
.h_pre:hover, .h_nxt:hover, .h_pres:hover, .h_nxts:hover {
    background:rgba(0, 0, 0, 0.2) none repeat scroll 0 0 ; /*background-color: #000*/;
    opacity: 0.6;
    text-decoration: none;
}
.mt35 {
    margin-top: 35px;
}
#hr_a {
    background-color: #fbfbfb;
    height: 450px;
    margin-right: -595px;
    position: absolute;
    right: 50%;
    top: 0;
    width: 190px;
}
#hr_a a {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    float: left;
}
.hlock {
    height: 150px;
}
.lk_l {
    background: rgba(0, 0, 0, 0) url("../images/jinri.png") no-repeat scroll 50% 0;
    height: 150px;
    position: relative;
    width: 190px;
}
.ldok {
    animation: 30s linear 0s normal none infinite running rotate;
    color: #fff;
    font-size: 18px;
    height: 68px;
    left: 87px;
    line-height: 1px;
    position: absolute;
    top: 26px;
    width: 10px;
}
.lk_r {
    height: 150px;
    overflow: hidden;
    width: 1000px;
}
.lk_r a {
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    float: left;
    height: 150px;
    margin-left: -1px;
    position: relative;
    width: 250px;
}
.h_pic {
    margin-left: -10px;
    width: 1210px;
}
.h_pa {
    display: inline;
    float: left;
    margin: 0 0 10px 10px;
    overflow: hidden;
}
.hotk {
    background-color: #fff;
    height: 110px;
    margin-top: 25px;
}
.hotkw {
    border-left: 1px dashed #e5e5e5;
    float: left;
    margin-left: -2px;
    width: 25%;
}
.lr_t {
    border-left: 3px solid #c40000;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.p15 {
    padding: 15px 5px 15px 15px;
}
.ho_a {
    color: #999;
    line-height: 24px;
    padding: 0 15px 0 0;
}
.flor {
    background-color: #c40000;
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    padding: 0 5px;
}
.h_tt {
    line-height: 22px;
    margin-bottom: 15px;
}
.h_ha {
    color: #333;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    font-weight: normal;
}
.h_fl, .h_fm, .h_fr, .h_sex {
    float: left;
    height: 390px;
    overflow: hidden;
    position: relative;
}
.h_fl {
    background-color: #fff;
    margin-right: 5px;
    padding: 0 15px;
    width: 150px;
}
.h_fm {
    width: 400px;
}
.h_fr {
    width: 605px;
}
.h_cat {
    border-bottom: 1px dotted #eee;
    line-height: 24px;
    overflow: hidden;
    padding: 10px 0;
}
.h_cat a {
    color: #777;
    display: inline;
    float: left;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}
.h_ff {
    bottom: 0;
    left: 0;
    position: absolute;
}
.c_zon, a.c_zon {
    color: #bf8e58;
}
.c_blue {
    color: #3388bb;
}
.f_aa {
    background-color: #fff;
    color: #333;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    height: 152px;
    line-height: 30px;
    margin: 0 0 6px 5px;
    overflow: hidden;
    padding: 40px 0 0 30px;
    position: relative;
    width: 266px;
}
.f_am {
    position: relative;
    z-index: 2;
}
.f_aa p {
    color: #999;
    font-size: 14px;
}
.f_aa i {
    color: #777;
}
.ha_po {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}
.f_aa::before, .f_aa::after {
    content: "";
    height: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 0;
}
.f_aa::before {
    border-left: 1px solid #c40000;
    border-top: 1px solid #c40000;
    left: 0;
    top: 0;
}
.f_aa::after {
    border-bottom: 1px solid #c40000;
    border-right: 1px solid #c40000;
    bottom: 0;
    position: absolute;
    right: 0;
}
.f_aa:hover {
    color: #c40000;
    text-decoration: none;
}
.f_aa:hover::before, .f_aa:hover::after {
    height: 100%;
    opacity: 1;
    width: 100%;
}
.h_fm a::before {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    content: "";
    height: 390px;
    left: -180px;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 80px;
}
.h_fm a:hover::before {
    left: 480px;
    transition: left 0.5s ease 0s;
}
.h_sex {
    background-color: #f5f5f5;
    width: 1005px;
}
.hx_a {
    display: inline;
    float: left;
    height: 390px;
    margin-right: 3px;
    overflow: hidden;
    position: relative;
    width: 248px;
}
.sx_t {
    background: rgba(0, 0, 0, 0) url("hmk.png") repeat-x scroll 0 bottom;
    cursor: pointer;
    height: 390px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 248px;
}
.hx_a:hover .sx_t {
    opacity: 0;
}
.z3 {
    background-color: #fff;
    float: left;
    height: 250px;
    overflow: hidden;
    width: 390px;
}
.h_ca {
    padding: 0 20px;
}
.h_ci, .h_cib, .h_cim {
    border: 1px solid #e5e5e5;
    height: 42px;
    line-height: 42px;
    margin-bottom: 12px;
    text-indent: 10px;
    width: 99%;
}
.h_cim {
    text-indent: 50px;
    width: 170px;
}
.h_cib {
    background-color: #eee;
    border: 0 none;
    color: #333;
    text-align: center;
    text-indent: 0;
    width: 170px;
}
.yz_btn {
    background-color: #a0d298;
    border: medium none;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
}
.hyz_l {
    left: 10px;
    position: absolute;
    top: 5px;
}
.h_zx {
    line-height: 32px;
    margin: 8px 0 0 20px;
    overflow: hidden;
    white-space: nowrap;
}
.h_brd {
    display: inline-block;
    height: 40px;
    margin: 10px 20px 14px 10px;
    width: 90px;
}
.yqlink {
    color: #ccc;
    position: relative;
}
.yqlink a {
    color: #cfcfcf;
    padding: 0 10px 0 0;
}
#yqlk {
    height: 40px;
    overflow: hidden;
    padding-right: 30px;
}
.yq_r {
    background-color: #f5f5f5;
    color: #777;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.bl_l, .bl_m {
    height: 480px;
    margin-top: 30px;
    overflow: hidden;
}
.bl_l {
    background-color: #fff;
    padding: 0 15px;
    width: 260px;
}
.bl_m {
    width: 900px;
}
.blrm {
    position: absolute;
    right: 0;
    top: 10px;
}
.l_aa {
    color: #777;
    display: block;
    float: left;
    height: 70px;
    line-height: 20px;
    margin: 18px 0 0;
    overflow: hidden;
    text-align: center;
    width: 33%;
}
.l_aa:hover {
    color: #c40000;
    text-decoration: none;
}
.l_ab {
    background-color: #fff;
    border: 1px dashed #eee;
    color: #999;
    display: inline;
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 10px 5px 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 74px;
}
.l_ab:hover {
    border-color: #c40000;
    color: #c40000;
    text-decoration: none;
}
#bl_m {
    height: 320px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 890px;
    z-index: 0;
}
.s_ul {
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.s_ul li {
    display: none;
    height: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.ll_r {
    background-color: #fff;
    float: left;
    height: 150px;
    margin: 10px 0 0 10px;
    overflow: hidden;
    width: 290px;
}
.h_pres {
    left: 0;
    top: 130px;
}
.h_nxts {
    right: 0;
    top: 130px;
}
.c_tt {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    padding: 14px 0;
    text-align: center;
}
.lr5 {
    padding: 0 5px;
}
.dn_a {
    border: 2px solid #fff;
    display: inline;
    float: left;
    height: 330px;
    line-height: 20px;
    margin: 0 0 10px 18px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 270px;
}
.wbox {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.h250 {
    background-color: #fff;
    bottom: 0;
    height: 70px;
    left: 0;
    padding: 0 5px;
    position: absolute;
    width: 260px;
}
.dn_a:hover {
    color: #c40000;
    text-decoration: none;
}
.blt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5 #e5e5e5 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.lwen {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 5px -860px;
    cursor: pointer;
}
.bc_a {
    border: 1px solid #f9bdbd;
    border-radius: 4px;
    color: #d68c8c;
    margin: 0 5px;
    padding: 4px 10px;
    white-space: nowrap;
}
.bc_a:hover {
    background-color: #c40000;
    border-color: #c40000;
    color: #fff;
    text-decoration: none;
}
.cfr {
    background: rgba(0, 0, 0, 0) url("mor.png") no-repeat scroll 0 0;
    display: block;
    height: 54px;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
}
.b_h4 {
    background-color: #fff;
    color: #999;
    font-weight: normal;
    height: 40px;
    left: 20px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 46px;
}
.tpk {
    margin-left: -9px;
}
.tp_a {
    background-color: #fff;
    display: inline;
    float: left;
    height: 150px;
    margin: 0 0 6px 9px;
    overflow: hidden;
    position: relative;
    width: 390px;
}
.fa_l {
    border-left: 1px solid #e5e5e5;
}
.fa_dl {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    float: left;
    margin-left: -1px;
    padding-bottom: 15px;
    position: relative;
    width: 197px;
}
.fa_dl dt {
    display: block;
    line-height: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
.fa_h3 {
    background-color: #fafafa;
    color: #333;
    font-size: 14px;
    margin-top: 15px;
}
.fa_dl dd {
    padding: 0 24px;
}
.fa_dl dd a {
    color: #999;
    float: left;
    height: 24px;
    margin: 0 0 0 12px;
    overflow: hidden;
    white-space: nowrap;
    width: 60px;
}
.hbtn {
    background-color: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 50px;
}
.fa_dl:hover {
    border-top-color: #c40000;
}
.s_tl {
    line-height: 20px;
    margin: 18px 0;
    overflow: hidden;
    width: 100%;
}
.s_tl .lr3 {
    font-family: ����;
    padding: 0 8px;
}
.wov {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}
.wov a {
    color: #999;
}
.s_sx li {
    float: left;
}
.d_xx {
    background: #fff url("../images/i.png") no-repeat scroll right -232px;
    border: 1px solid #ec8382;
    color: #ec8382;
    display: inline-block;
    margin-right: 5px;
    padding: 0 15px 0 8px;
}
.d_xx:hover {
    border-color: #c40000;
    text-decoration: none;
}
.scat {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 5px #ddd;
    margin-bottom: 25px;
}
.wz_b {
    background-color: #fff;
    bottom: 0;
    height: 12px;
    left: 0;
    position: absolute;
    width: 100%;
}
.sdl {
    border-bottom: 1px dotted #ebe9e7;
    float: left;
    margin-bottom: -1px;
    width: 100%;
}
.sfst {
    border-bottom: 2px solid #ebe9e7;
}
.sdl dt {
    color: #888;
    float: left;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    width: 90px;
}
.sdl dd {
    border-left: 1px solid #f0f0f0;
    height: 34px;
    line-height: 18px;
    margin-left: 90px;
    overflow: hidden;
    padding: 10px 0 6px;
    position: relative;
}
.sdl dd.h_auto {
    height: auto;
}
.h_auto .wz_b {
    display: none;
}
.sdl dd a {
    display: inline;
    float: left;
    height: 18px;
    margin: 5px 0 5px 16px;
    padding: 0 3px;
    white-space: nowrap;
}
#brand_dl {
    padding-right: 60px;
}
.sdl dd a.on {
    color: #c40000;
}
.sdl dd a.on{
	background-color:#c40000;
	color:#fff;
}

.sdl dd a:hover {
    background-color: #c40000;
    color: #fff;
    text-decoration: none;
}
.b_rmo {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll right -254px;
    color: #999;
    cursor: pointer;
    height: 18px;
    overflow: hidden;
    padding-right: 12px;
    position: absolute;
    right: 15px;
    top: 14px;
}
.b_rmon {
    background-position: right -270px;
}
.sesh {
    display: none;
    height: 30px;
    margin: 3px 0 0 20px;
    width: 280px;
}
.sefl {
    border: 1px solid #ddd;
    color: #999;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
    width: 240px;
}
.sefr {
    background-color: #c40000;
    border: 1px solid #c40000;
    color: #fff;
    height: 30px;
    line-height: 28px;
    width: 38px;
}
.sxbox {
    display: block;
    height: 40px;
}
.ls_cat {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    height: 38px;
    overflow: hidden;
}
.ls_cat .w {
    width: 1188px;
}
.lslc {
    display: none;
    position: absolute;
    top: 630px;
}
.ccat {
    border-bottom: 1px solid #cc4026;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}
.ccat .sesh {
    display: block;
}
.sb_a {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 6px 5px 0 0;
    padding: 0 16px;
    position: relative;
}
.sb_a:hover {
    border-color: #c40000;
    text-decoration: none;
}
.sb_on {
    background-color: #c40000;
    border-color: #c40000;
    color: #fff;
}
.rjg {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll right -168px;
    display: block;
    height: 14px;
    position: absolute;
    right: 4px;
    top: 7px;
    width: 8px;
}
.sb_on .rjg {
    background-position: right -216px;
}
.sup .rjg {
    background-position: right -192px;
}
.ls_lab {
    float: left;
    margin: 8px 0 0 15px;
}
.prt {
    line-height: 24px;
    padding: 6px 10px 0 0;
}
.pr_a {
    background-color: #fff;
    border: 1px solid #ededed;
    color: #333;
    display: inline-block;
    float: left;
    height: 24px;
    margin-left: -1px;
    padding: 0 14px;
}
.p_off {
    color: #bbb;
}
.pr_a:hover {
    background-color: #c40000;
    color: #fff;
    text-decoration: none;
}
.simg {
    height: 34px;
    margin: 10px 0 5px;
    overflow: hidden;
}
.simg img {
    border: 1px solid #e5e5e5;
    cursor: pointer;
    margin-right: 5px;
}
.simg img.on {
    border-color: #cc4026;
}
.gdls, .bdls {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    overflow: hidden;
    padding: 5px 0;
}
.w .femal {
	margin-top:33px;
}
.gdls {
    padding: 5px;
}
.gl {
    background-color: #fff;
    border: 2px solid #fff;
    color: #999;
    display: inline;
    float: left;
    height: 402px;
    line-height: 15px;
    margin: 10px 5px 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    white-space: nowrap;
    width: 270px;
}
.gl, .dn_a {
    transition: border-color 0.1s ease-in 0s;
}
.gl dt {
    height: 270px;
    overflow: hidden;
    position: relative;
    width: 270px;
}
.gna {
    display: block;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gl .xj {
    margin-right: 8px;
}
.bdls .gl {
    margin: 5px 0 10px 10px;
    width: 270px;
}
.hov {
    border-color: #e9e9e9;
    box-shadow: 0 0 2px 2px #f8f8f8;
}
.yemr {
    display: inline-block;
    padding: 5px 14px;
}
.ftj {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    line-height: 16px;
    padding: 15px 0;
}
.ftj .bl_red {
    margin: 0;
}
.b_li {
    background-color: #fff;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 15px;
}
.q_c {
    border-top: 1px solid #ddd;
}
.goods {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 5px #ccc;
    margin-bottom: 40px;
    padding: 20px 15px 20px 20px;
}
.gd_l {
    margin-right: 40px;
    position: relative;
    width: 430px;
}
#spic li, .afav {
    border: 1px solid #e5e5e5;
    color: #999;
    display: inline;
    float: left;
    height: 50px;
    line-height: 24px;
    margin-right: 10px;
    padding: 1px;
    text-align: center;
    width: 50px;
}
.afav:hover {
    color: #c40000;
    text-decoration: none;
}
#spic li.on {
    border-color: #c40000;
    border-width: 2px;
    padding: 0;
}
#preview {
    height: 430px;
    margin-bottom: 15px;
    width: 430px;
}
.gd_r {
    margin-top: -5px;
    width: 500px;
}
.kan {
    padding-left: 15px;
    position: absolute;
    right: 15px;
    top: 2px;
    width: 130px;
}
.kan_i {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 0 -816px;
    margin-left: 28px;
    padding-left: 18px;
}
.wrapb {
    height: 450px;
    margin-top: 10px;
    overflow: hidden;
    width: 132px;
}
.ka_r {
    height: 450px;
}
.ka_r li {
    height: 150px;
    width: 132px;
}
.ka_ra {
    border: 1px solid #fff;
    color: #cc4026;
    display: block;
    height: 130px;
    position: relative;
    width: 130px;
}
.ka_ra:hover {
    border-color: #c40000;
    text-decoration: none;
}
.ka_rp {
    background-color: #fff;
    bottom: 0;
    color: #333;
    left: 0;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    width: 100%;
}
.gh1 {
    color: #333;
    display: inline;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.gh2 {
    color: #999;
    font-weight: normal;
    line-height: 16px;
    margin: 10px 0 15px;
}
.i_new, .i_hot, .i_loot, .baoy, .i_video {
    background-color: #1ac055;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding: 1px 5px;
}
.i_hot {
    background-color: #c40000;
}
.i_loot {
    background-color: #d08c08;
}
.i_video {
    background-color: #06a7e1;
}
.baoy {
    line-height: 20px;
    margin-top: -10px;
    vertical-align: middle;
}
.bline {
    border-top: 1px dashed #e5e5e5;
    height: 0;
    overflow: hidden;
    width: 100%;
}
.cg_bg {
    background-color: #fff2e8;
    padding: 5px 0;
}
.gdl {
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    width: 100%;
}
.gdl dt {
    float: left;
    overflow: hidden;
    padding-left: 10px;
    width: 50px;
}
.gdl dd {
    margin-left: 50px;
}
.lh38 {
    line-height: 38px;
}
.auto {
    height: auto;
    line-height: 25px;
}
.dato {
    height: auto;
}
.gloot span {
    color: #cc4026;
    font-size: 14px;
    padding: 0 5px;
}
.amount {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 0 -328px;
    display: block;
    height: 31px;
    margin: 5px 10px 0 0;
    overflow: hidden;
    width: 18px;
}
.increase, .decrease {
    cursor: pointer;
    float: left;
    height: 14px;
    width: 18px;
}
.decrease {
    margin-top: 2px;
}
.number {
    border: 1px solid #aaa;
    color: #666;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 5px 5px 0 0;
    text-indent: 15px;
    width: 50px;
}
.xcolor a {
    border: 1px solid #ccc;
    color: #333;
    display: inline;
    float: left;
    line-height: 26px;
    margin: 8px 10px 0 0;
    padding: 1px 10px;
    white-space: nowrap;
    width: auto;
}
.xcolor a:hover, .xcolor a.hover {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll right -504px;
    border-color: #c40000;
    border-width: 2px;
    color: #c40000;
    padding: 0 9px;
    text-decoration: none;
}
.g_cx {
    background-color: #f47a86;
    border-radius: 1px;
    color: #fff;
    height: 16px;
    line-height: 16px;
    margin: 0 0 0 6px;
    padding: 1px 5px;
    position: relative;
}
.g_cx s {
    border-bottom: 6px solid #f47a86;
    border-left: 6px solid transparent;
    bottom: 0;
    height: 0;
    left: -4px;
    position: absolute;
    width: 0;
}
#gloot {
    font-size: 14px;
    padding-left: 5px;
}
#gloot b {
    color: #cc4026;
}
.z_kh {
    background-color: #d4bd8a;
}
.tishi {
    background-color: #fff;
    border: 2px solid #c40000;
    bottom: 0;
    box-shadow: 1px 1px 3px #ccc;
    color: #333;
    display: none;
    height: 90px;
    left: 0;
    line-height: 25px;
    padding: 15px;
    position: absolute;
    width: 410px;
    z-index: 2;
}
.g_close {
    background-color: #c40000;
    color: #fff;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 16px;
}
.fu_btn, .red_btn {
    background: #c87347 url("../images/i.png") no-repeat scroll 30px -284px;
    color: #fff;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    width: 184px;
}
.red_btn, .rbuy {
    background-color: #c40000;
    color: #fff;
}
.red_btn {
    background-position: 30px -890px;
}
.bzone {
    margin: 15px 0;
    padding-left: 10px;
}
.dx_tip {
    margin-left: 24px;
}
.dx_d {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px #ccc;
    color: #555;
    display: none;
    font-size: 12px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: -10px;
    width: 430px;
    z-index: 4;
}
.bg_gray {
    background-color: #eee;
    padding: 20px;
}
.tac {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
#taoc {
    height: 38px;
    line-height: 38px;
}
#taoc li {
    border-right: 1px solid #e5e5e5;
    border-top: 2px solid #fff;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    padding: 0 15px;
    text-align: center;
}
#taoc li.on {
    border-top-color: #c40000;
    color: #c40000;
}
.tc_box {
    background-color: #fff;
    padding: 10px 270px 10px 10px;
    position: relative;
}
.pac {
    display: inline;
    float: left;
    height: 142px;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    width: 112px;
}
.add_i {
    color: #333;
    float: left;
    font-size: 24px;
    padding-top: 60px;
}
.tc_r {
    height: 122px;
    padding: 20px 0 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
}
.tc_r .redb {
    margin-top: 10px;
    width: 120px;
}
.jba {
    height: 44px;
}
.jbar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    height: 44px;
    left: 0;
    line-height: 44px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 978px;
}
.jbars li {
    float: left;
    margin-left: -1px;
    position: relative;
}
.jbars li a {
    border-right: 1px dotted #e5e5e5;
    color: #333;
    display: block;
    font-size: 14px;
    padding: 0 35px;
}
.jbars li.on {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid #c40000;
    line-height: 42px;
}
.jbars li.on a {
    border: medium none;
    color: #c40000;
    font-weight: bold;
}
.jbars li.on::after {
    border-color: #b00000 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: " ";
    display: block;
    font-family: arial;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -1px;
    width: 0;
}
.rbuy {
    background-position: 40px -280px;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 180px;
}
.dheng {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    height: 44px;
    left: auto;
    position: fixed;
    top: 0;
    z-index: 9;
}
.dheng .hid {
    display: block;
}
.pl30 {
    padding-left: 30px;
}
.f30 {
    font-size: 30px;
}
.des {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 25px;
    overflow: hidden;
}
.g_r {
    width: 980px;
}
.g_l {
    width: 192px;
}
#detail {
    padding: 10px 0 30px;
}
.g_attr {
    font-size: 12px;
    padding: 10px 0;
}
.g_attr p {
    color: #666;
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
}
.gdes {
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
    width: 750px;
}
.gdes img {
    vertical-align: top;
}
.desp {
    border-bottom: 2px solid #ddd;
    height: 35px;
    line-height: 35px;
    margin: 10px 0;
    width: 100%;
}
.desp .title {
    border-bottom: 2px solid #c40000;
    color: #c40000;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -2px;
    position: relative;
}
.g_t {
    border-top: 2px solid #c40000;
    color: #000;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 15px;
    padding: 10px 10px 0;
}
.lr20 {
    padding: 0 20px;
}
.u_q {
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
}
.u_q li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #fff #fff -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-left: 5px;
    padding: 0 20px;
}
.u_q li.first {
    margin-left: 20px;
}
.u_q li.on {
    border-bottom: 2px solid #fff;
    border-color: #e5e5e5 #e5e5e5 #fff;
    margin-bottom: -2px;
    position: relative;
}
.ba_z {
    color: #888;
    font-size: 14px;
    line-height: 20px;
}
.ba_z .f18 {
    margin: 20px 0 10px;
}
.gft li {
    border: 1px solid #ddd;
    float: left;
    height: 170px;
    line-height: 18px;
    margin: 10px;
    overflow: hidden;
    padding: 4px;
    white-space: nowrap;
    width: 110px;
}
.gft li p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
}
.gft label {
    display: block;
    margin-top: 10px;
}
.gft h3 {
    border-bottom: 2px solid #cc4026;
    padding: 5px 0 5px 10px;
}
.pd20 {
    padding: 20px;
}
#wpl, #wzx {
    padding: 0 40px 20px;
}
.ucom {
    float: left;
    font-size: 14px;
    line-height: 25px;
    margin: 10px 0 20px;
    width: 100%;
}
.ucoml {
    float: left;
    height: 50px;
    overflow: hidden;
    width: 55px;
}
.ucomr {
    background-color: #f4f4f4;
    float: right;
    padding: 10px;
    position: relative;
    width: 88%;
}
.ucomr .ov {
    font-size: 12px;
    margin-bottom: 12px;
}
.ucomr .vip {
    margin: 6px 15px 0 5px;
}
.lcor {
    color: #f4f4f4;
    height: 13px;
    left: -6px;
    position: absolute;
    top: 15px;
    width: 8px;
}
.px, .px p {
    background: rgba(0, 0, 0, 0) url("../images/i.png") repeat-x scroll 0 -489px;
    display: block;
    height: 14px;
    overflow: hidden;
    width: 78px;
}
.px p {
    background-position: 0 -475px;
}
.px1 p {
    width: 16px;
}
.px2 p {
    width: 32px;
}
.px3 p {
    width: 48px;
}
.px4 p {
    width: 64px;
}
.px5 p {
    width: 80px;
}
.t_zx {
    margin: 5px 0;
    padding: 10px 0;
    width: 100%;
}
.rep_z {
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
}
.rep_z .i {
    color: #f4f4f4;
    height: 10px;
    left: 30px;
    line-height: 10px;
    position: absolute;
    top: -6px;
    width: 18px;
}
.brand_des {
    background-color: #eee;
    margin: 20px auto;
    padding: 10px;
    width: 730px;
}
.glh3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e5e5e5;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    font-size: 14px;
    line-height: 42px;
    text-indent: 10px;
}
.glb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #e5e5e5 #e5e5e5;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin-bottom: 10px;
    padding: 20px 15px;
}
.hs_a {
    color: #999;
    display: block;
    height: 70px;
    line-height: 18px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}
.hs_a .left {
    margin-right: 5px;
}
.mobd {
    background-color: #eee;
    height: 22px;
    line-height: 22px;
    margin: 20px auto 0;
    text-align: center;
    width: 128px;
}
.rx_a {
    display: block;
    height: 200px;
    line-height: 18px;
    margin: 5px auto;
    width: 160px;
}
.rx_a p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
.s_d {
    border-top: 1px solid #ddd;
}
.s_d img {
    border: 1px solid #999;
    cursor: url("in.cur"), auto;
    margin: 5px 5px 5px 0;
    padding: 2px;
}
.s_d img.on {
    border-color: #cc4026;
    cursor: url("out.cur"), auto;
}
.s_db img {
    border: 4px solid #fff;
}
#sd a {
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #999;
    display: block;
    margin: 10px;
    overflow: hidden;
    padding: 5px;
    width: 220px;
}
#sd a p {
    padding: 5px 0;
}
.wwbtn {
    background-color: #c40000;
    border: 1px solid #c40000;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 146px;
}
.wwbtno {
    background-color: #fff;
    color: #c40000;
}
.ybtn, .gybtn {
    background-color: #c69c6d;
    border: medium none;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
}
.gybtn {
    background-color: #f6924d;
}
.g_bza {
    color: #000;
    font-size: 16px;
    margin-bottom: 15px;
}
.kftab {
    left: 0;
    position: absolute;
    top: 0;
}
.rfix {
    left: auto;
    position: fixed;
    top: 0;
    width: 192px;
    z-index: 9;
}
#goodsrm .glb {
    padding: 10px 15px;
}
.fu_btn:hover, .red_btn:hover, .pac:hover, .jbars li a:hover, .rx_a:hover, .g_bza:hover {
    text-decoration: none;
}
.oheader {
    padding: 20px 0;
}
.bgwd {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding: 15px 20px;
}
.c_t em {
    background-color: #cc4026;
    color: #fff;
    margin-right: 20px;
    padding: 0 6px;
}
.tb_c td {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
    vertical-align: middle;
}
.tb_c th {
    color: #999;
    padding: 10px 0;
    text-align: left;
}
.pd4 {
    padding: 0 20px 0 40px;
}
.pr50 {
    display: block;
    padding-right: 50px;
}
.p80 {
    padding: 30px 80px;
}
.l_icon {
    display: block;
    font-size: 45px;
    height: 45px;
    left: -60px;
    line-height: 45px;
    position: absolute;
    top: 0;
}
.w58 {
    float: left;
    margin-right: 20px;
    position: relative;
    width: 580px;
}
.o_wt td {
    color: #999;
    padding: 5px 30px 5px 0;
    vertical-align: top;
    width: 33%;
}
.xpg a {
    border: 1px solid #ddd;
    padding: 5px 10px;
}
.xpg a.on {
    background-color: #cc4026;
    border-color: #cc4026;
    color: #fff;
    margin: 0 5px;
}
.bgcr {
    background: rgba(0, 0, 0, 0) url("car_r.png") no-repeat scroll right bottom;
}
.bg_y {
    background-color: #faebe1;
    border: 1px solid #f0d4c0;
    border-radius: 4px;
    color: #b87a4f;
    padding: 20px;
}
.p_td td {
    padding: 8px 0;
}
.c_tb, .cart_xj {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
}
.cart_xj {
    padding: 10px;
}
.c_tb th {
    border-bottom: 1px solid #e5e5e5;
    color: #999;
    line-height: 35px;
    text-align: left;
    text-indent: 10px;
}
.c_tb td {
    padding: 8px 10px;
}
.bld td {
    border-bottom: 1px solid #e5e5e5;
}
.ipt {
    border: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
}
.tis {
    padding-left: 8px;
}
.ert {
    float: left;
}
.c_bz {
    border: 1px solid #e5e5e5;
    height: 40px;
    width: 360px;
}
.zfu, .zfu1 {
    border: 1px dotted #666;
    cursor: pointer;
    height: 38px;
    margin: 10px 15px 10px 0;
    padding-top: 5px;
    text-align: center;
    width: 180px;
}
.zfu1 {
    background-color: #bbb;
}
.zon {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll right -531px;
    border: 1px solid #12ac02;
    color: #12ac02;
}
.zfu p {
    color: #999;
}
.o_add, .o_cut {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 0 -370px;
    display: inline-block;
    height: 18px;
    margin: 0 5px;
    width: 18px;
}
.o_cut {
    background-position: 0 -392px;
}
.btp {
    border-top: 1px dotted #ddd;
    height: 1px;
}
#amount {
    font-size: 24px;
}
.h_b {
    border: 1px solid #ddd;
    height: 20px;
    text-indent: 5px;
}
.error, .ok {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 4px -440px;
    display: block;
    padding-left: 20px;
}
.error {
    background-position: 4px -414px;
}
.cd_d {
    width: 100%;
}
.cd_d dl {
    display: block;
    float: left;
    height: 200px;
    margin: 10px 18px 0 0;
    overflow: hidden;
    width: 130px;
}
.cd_d dd {
    height: 25px;
    overflow: hidden;
}
.cd_d dd .right {
    color: #ff7700;
}
#o_xq td {
    border-top: 1px dotted #e5e5e5;
}
#o_xq a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 400px;
}
.u_zh, .u_mm {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll right -715px;
}
.u_mm {
    background-position: right -756px;
}
.lpt {
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    width: 300px;
}
.vip {
    background: rgba(0, 0, 0, 0) url("../images/i.png") no-repeat scroll 0 -577px;
    display: inline;
    float: left;
    height: 14px;
    margin: 7px 0 0 5px;
    width: 14px;
}
.v1 {
    background-position: 0 -596px;
}
.v2 {
    background-position: 0 -617px;
}
.v3 {
    background-position: 0 -637px;
}
.v4 {
    background-position: 0 -657px;
}
.v5 {
    background-position: 0 -677px;
}
.pes {
    display: inline;
    float: left;
    height: 40px;
    line-height: 25px;
    position: relative;
}
.pes_id {
    border: 1px solid #e5e5e5;
    display: inline;
    float: left;
    height: 25px;
    margin-top: 10px;
    padding: 0 10px;
    position: relative;
    width: auto;
    z-index: 3;
}
.pes_id .rdop {
    top: 10px;
}
.pes_z {
    background-color: #fcfbf8;
    border: 1px solid #ddd;
    color: #005aa0;
    display: none;
    left: -50px;
    padding: 5px 10px;
    position: absolute;
    top: 35px;
    width: 440px;
    z-index: 2;
}
#pes_ul {
    margin-bottom: 10px;
    overflow: hidden;
    width: 440px;
}
#pes_ul li {
    background: #fff url("../images/i.png") no-repeat scroll right 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    display: inline;
    float: left;
    height: 25px;
    margin-right: 10px;
    padding: 0 10px;
}
#pes_ul li.on {
    border-color: #edd28b;
    color: #333;
}
.pes_o {
    overflow: hidden;
    width: 440px;
}
.pes_o li {
    float: left;
    height: 25px;
    overflow: hidden;
    width: 20%;
}
.pes_o li a {
    color: #005aa0;
    display: block;
    float: left;
    padding: 0 2px;
}
.pes_o li a:hover {
    background-color: #005aa0;
    color: #fff;
    text-decoration: none;
}
.pes_on .pes_id {
    background-color: #fcfbf8;
    border-bottom-color: #fcfbf8;
}
.pes_on .pes_z {
    display: block;
}
.ren {
    height: auto;
    margin-top: 10px;
    overflow: visible;
    z-index: 3;
}
.h_pa, .ha_po, .hx_a, .h_fm, .tp_a, .gl dt, .w_hd, .ll_r, .s_ul li, .dn_a {
    background: #fff url("qu.gif") no-repeat scroll 50% 50%;
}
.dn_a {
    background-position: 50% 30%;
}
@media (max-width: 1210px) {
.w, .ls_cat .w {
    width: 990px;
}
.floor {
    margin-left: 510px;
}
.navq {
    background-color: #cc4026;
}
.navs a {
    color: #fff;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
}
.navs a:hover, .navs a.on {
    background-color: #c40000;
    color: #fff;
}
.navs a::before {
    display: none;
}
.search {
    margin: 0 20px;
}
.hs_t .shl {
    width: 500px;
}
.f_dl {
    margin: 20px 54px 30px 0;
}
.mr0 {
    margin-right: 0;
}
.lk_r {
    height: 150px;
    position: relative;
    width: 800px;
}
.lk_r a {
    width: 266px;
}
.h_pic {
    width: 1000px;
}
.h_pa img {
    height: 215px;
    width: 240px;
}
.h_pa2 img {
    width: 490px;
}
.ft_t img {
    padding-left: 20px;
}
.fa_dl {
    width: 164px;
}
.dlast {
    width: 163px;
}
.fa_dl dd {
    padding: 0 5px;
}
.w_hd {
    width: 990px;
}
.w_hd img {
    margin-left: -100px;
    position: relative;
}
.sx_t {
    right: 0;
}
.h_fr {
    width: 460px;
}
.h_fl {
    margin: 0;
    padding: 0 10px;
    width: 110px;
}
.h_cat a {
    width: 50px;
}
.f_aa {
    font-size: 14px;
    height: 154px;
    margin: 0 0 1px 1px;
    padding: 20px 0 20px 11px;
    width: 218px;
}
.hotk {
    height: 124px;
}
.h_sex {
    width: 860px;
}
.hx_a {
    margin: 0;
    width: 215px;
}
.z3 {
    width: 323px;
}
.h_brd {
    margin: 15px 0 10px 10px;
}
#hr_a {
    margin-right: -495px;
}
.h_pre {
    margin-left: -305px;
}
.h_nxt {
    margin-right: -305px;
}
.h_cib {
    width: 104px;
}
.bl_l {
    padding: 0 5px;
    width: 220px;
}
.bl_m {
    width: 760px;
}
.ll_r {
    position: relative;
    width: 243px;
}
.ll_r img {
    margin-left: -20px;
}
.h250 {
    width: 210px;
}
#bl_m {
    width: 750px;
}
.dn_a {
    height: 290px;
    width: 220px;
}
.sbm {
    height: 220px;
    width: 220px;
}
.s_ul {
    margin-left: -65px;
    width: 890px;
}
.l_ab {
    width: 60px;
}
.tp_a {
    width: 324px;
}
.tp_a img {
    margin-left: -30px;
}
.xx {
    display: none;
}
.gl {
    height: 360px;
    width: 220px;
}
.bdls .gl {
    width: 220px;
}
.gl dt {
    height: 220px;
    width: 220px;
}
.kan {
    display: none;
}
.gd_r {
    width: 480px;
}
.g_r {
    width: 780px;
}
.jbar {
    width: 778px;
}
.jbars li a {
    padding: 0 28px;
}
.g_bza {
    font-size: 12px;
}
.b_as {
    margin: 10px 17px;
}

