.w,.ls_cat .w{width:990px;}
.floor{margin-left:510px;}
.navq{background-color:#cc4026;}
.navs a{padding:0 15px;height:34px;line-height:34px;color:#fff;font-weight:normal;}
.navs a:hover, .navs a.on{color:#fff;background-color:#c40000;}
.navs a:before{display:none;}
.search{margin:0 20px;}
.hs_t .shl{width:500px;}
.f_dl{margin:20px 54px 30px 0;}
.mr0{margin-right:0;}
.lk_r{width:800px;height:150px;position:relative;}
.lk_r a{width:266px;}
.h_pic{width:1000px;}
.h_pa img{width:240px;height:215px;}
.h_pa2 img{width:490px;}
.ft_t img{padding-left:20px;}
.fa_dl{width:164px;}
.dlast{width:163px;}
.fa_dl dd{padding:0 5px;}
.w_hd{width:990px;}
.w_hd img{position:relative;margin-left:-100px;}
.sx_t{right:0;}
.h_fr{width:460px;}
.h_fl{width:110px;padding:0 10px;margin:0;}
.h_cat a{width:50px;}
.f_aa{padding:20px 0 20px 11px;font-size:14px;width:218px;height:154px;margin:0 0 1px 1px;}
.hotk{height:124px;}
.h_sex{width:860px;}
.hx_a{width:215px;margin:0;}
.z3{width:323px;}
.h_brd{margin:15px 0 10px 10px;}
#hr_a{margin-right:-495px;}
.h_pre{margin-left:-305px;}
.h_nxt{margin-right:-305px;}
.h_cib{width:104px;}
/*list*/
.bl_l{width:220px;padding:0 5px;}
.bl_m{width:760px;}
.ll_r{width:243px;position:relative;}
.ll_r img{margin-left:-20px;}
.h250{width:210px;}
#bl_m{width:750px;}
.dn_a{width:220px;height:290px;}
.sbm{width:220px;height:220px;}
.s_ul{width:890px;margin-left:-65px;}
.l_ab{width:60px;}
.tp_a{width:324px;}
.tp_a img{margin-left:-30px;}
.xx{display:none;}
.gl{height:360px;width:220px;}
.bdls .gl{width:220px;}
.gl dt{width:220px;height:220px;}
/*goods*/
.kan{display:none;}
.gd_r{width:480px;}
.g_r{width:780px}
.jbar{width:778px;}
.jbars li a{padding:0 28px;}
.g_bza{font-size:12px;}
.b_as{margin:10px 17px}