html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,span,a,b,img,em,del,label,form,fieldset,input,p,th,td{margin:0;padding:0;-webkit-text-size-adjust:none;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;}
th,em,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
fieldset,img,a img{border:0;}
img{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
.alR{text-align:right;}
.alL{text-align:left;}
.alC{text-align:center;}
del,.xline{text-decoration:line-through;color:#999;}
html{font-size:62.5%;}
body{font-size:12px;font-size:1.2rem;color:#666;background-color:#f5f5f5;font-family:"Microsoft YaHei",Arial;}
/*media*/
@media only screen and (min-width:321px) and (min-height:321px){html{font-size:68.8%!important;}}
@media only screen and (min-width:385px) and (min-height:385px){html{font-size:75%!important;}}
@media only screen and (min-width:481px) and (min-height:481px){html{font-size:81.3%!important;}}
@media only screen and (min-width:561px) and (min-height:561px){html{font-size:87.5%!important;}}
@media only screen and (min-width:641px) and (min-height:641px){html{font-size:93.8%!important;}}
a{color:#666;text-decoration:none;}
.red,a.red{color:#dd2727;}
.white,a.white{color:#fff;}
.gray,.c9,a.gray{color:#999;}
.h,a.h,h.a{color:#fd7a06;}
.c3{color:#333;}
.arial{font-family:Arial;}
.fB{font-weight:bold;}
.fI{font-style:italic;}
.f10{font-size:1rem;}
.f12{font-size:1.2rem;}
.f14{font-size:1.4rem;}
.f16{font-size:1.6rem;}
.f18{font-size:1.8rem;}
.f24{font-size:2.4rem;}
.lh16{line-height:1.6rem;}
.lh18{line-height:1.8rem;}
.lh20{line-height:2rem;}
.lh25{line-height:2.5rem;}
.lh30{line-height:3rem;}
.lh35{line-height:3.5rem;}
.lh55{line-height:5.5rem;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.lr10{padding:0 10px;}
.lrb10{padding:0 10px 10px 10px;}
.lr3{padding:0 3px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.pl5{padding-left:5px;}
.pb5{padding-bottom:5px;}
.pl10{padding-left:10px;}
.pl8{padding-left:18px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.hid{display:none;}
.ov{overflow:hidden;}
.WB{word-wrap:break-word;}
.wn{white-space:nowrap;}
input::-webkit-input-placeholder{color:#999;}
input{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type="text"],input[type="password"],input[type="number"],input[type="tel"],input[type="search"]{vertical-align:middle;-webkit-appearance:none;}
.b4{border-radius:4px;}
.load img,#lod b{background:#fff url(http://img.qw.cc/mobile/css/load.gif) 50% 50% no-repeat;}
.page{margin:0 auto;max-width:640px;min-width:320px;}
.pageauto,.header{min-width:320px;max-width:100%;margin:0 auto;}
#top{width:100%;position:relative;height:4.5rem;}
.header{background-color:#be0000;height:4.5rem;line-height:4.5rem;overflow:hidden;color:#fff;z-index:10;position:absolute;top:0;left:0;right:0;}
.logo{display:block;width:6.8rem;height:4.5rem;position:absolute;left:0.8rem;top:0;background:url("../images/logo.png") 50% 50% no-repeat;background-size:6.8rem 2.8rem;}
.t_se{height:3rem;background-color:#f9e6e6;border-radius:2px;position:absolute;left:8.2rem;top:0.7rem;right:4rem;overflow:hidden;-webkit-transition:all 0.3s;}
.t_sl{width:100%;height:3rem;border:none;background:none;float:left;font-size:1.4rem;margin-left:10px;}
.t_sr{position:absolute;z-index:2;right:0;background:url(sbox.png) 50% 50% no-repeat;background-size:1.8rem 1.8rem;height:3rem;width:3.2rem;border:none;}
.hfix{position:fixed;z-index:9;}
.header h2,.header h1{width:100%;text-align:center;font-size:1.6rem;color:#fff;}
.b_l,.b_r,#qxs{position:absolute;top:0;font-size:1.4rem;color:#e9cbcb;min-width:3.2rem;display:block;height:4.4rem;}
.b_r,#qxs{right:0;text-align:right;padding-right:1rem;}
.b_l{left:0;background:url(../images/backs.png) 1rem 50% no-repeat;padding-left:1rem;background-size:1.1rem 2rem;}
.vl{padding:0 5px;}
.fot{padding:10px 0;text-align:center;}
.nav{width:100%;overflow:hidden;}
.na{width:25%;float:left;line-height:3.8rem;background-color:#fff;display:block;overflow:hidden;border-left:1px solid #eee;border-bottom:1px solid #eee;margin-left:-1px;position:relative;}
.fbtn{line-height:1.6rem;color:#fff;font-size:1.8rem;background-color:#887295;padding:0.6rem 0;float:left;width:50%;border-left:1px solid #ccc;margin:5px 0 0 -1px;}
.search{border:1px solid #ddd;background-color:#e03b3b;margin:10px 0;}
.sl{width:83%;border:none;line-height:normal;border-radius:0;height:3.4rem;color:#666;padding-left:2%;}
.sr{width:15%;height:3.4rem;background:url(sbg.png) 50% 50% no-repeat;border:none;background-size:1.8rem 1.8rem;}
.b_ca,.b_xa{width:50%;float:left;background-color:#fff;line-height:2rem;border:1px solid #eee;border-width:1px 0 0 1px;height:7.4rem;position:relative;overflow:hidden;margin-left:-1px;}
.b_ca .c3{font-size:1.3rem;padding:1.5rem 0 0 1rem;font-weight:700;}
.b_ca .c9{font-size:1rem;padding-left:1rem;}
.w_ct{width:7.4rem;height:7.4rem;position:absolute;right:0;top:0;}
.b_xa{width:25%;text-align:center;height:10rem;padding-top:1rem;}
.b_xa .c3{font-size:1.3rem;font-weight:700;}
.b_xa .c9{font-size:1rem;}
.w_cb{width:6rem;height:5.5rem;margin-top:1rem;}
.bgw{background-color:#fff;border:1px solid #eaeaea;border-width:1px 0;overflow:hidden;}
.pd10{padding:10px;}


/*car*/
.ept{padding:80px 10px;}
.g_tss{background-color:#F2EBE3;line-height:4rem;color:#333;border-bottom:1px solid #DDD2C0;display:block;}
.bbt,a.bbt,.bigsee,.gbtn{background-color:#dd2727;width:100%;height:4.4rem;line-height:4.4rem;font-size:1.4rem;color:#fff;display:block;font-weight:bold;text-align:center;margin:5px auto;border:none;border-radius:6px;-webkit-appearance:none;}
.gbtn{background-color:#0ba816;}
.car{padding:10px;background-color:#fff;height:6.6rem;overflow:hidden;display:block;border-bottom:1px solid #eaeaea;}
.car dt{width:6.6rem;height:6.6rem;float:left;}
.car img{width:6.6rem;height:6.6rem;}
.car dd{height:6.6rem;line-height:1.8rem;overflow:hidden;padding-left:10px;}
.car h3{font-weight:normal;margin-bottom:6px;overflow:hidden;}
.car dd input{width:4rem;height:2rem;border:1px solid #ddd;text-align:center;}
.car .f10{color:#999;padding:0 3px;}
.lbtn,.rbtn{width:48%;display:block;line-height:4rem;border:1px solid #fb6878;text-align:center;font-size:1.5rem;background-color:#fff0f0;color:#c40000;border-radius:4px;}
.rbtn{border-color:#c40000;background-color:#c40000;color:#fff;}
.sck{line-height:3.5rem;background-color:#ddd;padding:0 10px;}
.sck em{float:right;margin-top:1.2rem;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:8px solid #666;}
.sckt em{border-top:none;border-bottom:8px solid #666;}
.select{-webkit-appearance:button;appearance:button;width:31%;background:#fff url(fv.png) right 50% no-repeat;border:1px solid #ddd;margin-right:5px;height:3.6rem;padding:0 10px 0 2px;border-radius:4px;color:#666;}
.login,.regist,#car{margin:10px 0;padding:10px;color:#333;line-height:4.8rem;}
#car{padding:10px 0;}
.pmz{width:7rem;display:block;cursor:pointer;background-color:#fff;border:1px solid #ccc;border-radius:4px;line-height:1.4rem;padding:0.2rem 0;margin:4px 4px 4px 0;text-align:center;}
.pmz p{font-size:1.2rem;color:#999;}
.pmon{color:#dd2727;border-color:#dd2727;}
.pt{width:98%;border:1px solid #eaeaea;border-radius:4px;padding-left:2%;line-height:normal;height:3.5rem;color:#666;font-size:1.4rem;}
.byes{line-height:2.4rem;margin:0 0 15px 0;background-color:#e7e0b3;font-size:1.4rem;color:#333;padding:10px;}
.hli li{padding:0 10px;line-height:3.8rem;border-top:1px solid #eaeaea;display:block;text-align:right;overflow:hidden;}
.hli li a{width:76%;float:left;height:3.8rem;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.hli li span{color:#cc0000;}
.pt10{padding-top:10px;}
.cto{font-size:24px;font-weight:bold;color:#dd2727;}

/*login*/
body{background-color:#fff;}
.linput{width:90%;height:5rem;line-height:normal;padding:0 0 0 10%;margin-bottom:1rem;border-radius:0;font-size:1.5rem;border:none;background:url(../images/l_user.png) 0 50% no-repeat;background-size:2rem 2rem;border-bottom:1px solid #ddd;}
.lpass{background-image:url(../images/l_pass.png);}
.lgqq,.lgweibo{color:#555;padding:0 2.4rem;display:inline-block;}
.lgqq{background:url(../images/lg_qq.png) 0 50% no-repeat;background-size:1.6rem 1.6rem;}
.lgweibo{background:url(../images/lg_weibo.png) 0 50% no-repeat;background-size:1.8rem 1.6rem;}
.lgxx{padding:2.5rem 1rem;line-height:3rem;text-align:center;}