/**头部广告--kxx*/
.top-active {min-width:1190px; position: relative; z-index: 9999; clear: both; width: 100%;min-width: 990px; font-size: 0;}
.top-active .top-active-wrap {position: relative;width: 100%;overflow: hidden;}
.top-active .top-active-wrap a {outline: 0;}
.top-active-wrap img {display:block;width: 1190px; margin: 0 auto;}
.top-active .btn-close {position:absolute;top: 3px;right: 56px; width: 15px;height: 15px;background: url(../images/close.png) -106px -145px;}