/**头部广告--kxx*/
.top-active {min-width:1190px; position: relative; z-index: 9999; clear: both; width: 100%;min-width: 990px; font-size: 0;}
.top-active .top-active-wrap {position: relative;width: 100%;overflow: hidden;}
.top-active .top-active-wrap a {outline: 0;}
.top-active-wrap img {display:block;width: 1190px; margin: 0 auto;}
.top-active .btn-close {position:absolute;top: 3px;right: 56px; width: 15px;height: 15px;background: url(../images/close.png) -106px -145px;}

/*产品详情登录注册*/
.denglu .goods-error{color:#C40000 !important;font-size:13px !important;font-weight:normal !important;}

/*购物车*/
.cart .cart-empty {background-position: 202px 47px;padding-left:507px;}
.cart .cart-empty {background: #fff url("../images/bg3.jpg") no-repeat scroll 124px 47px; height: 156px; margin-top: 30px;padding: 47px 0 57px 407px;}
.cart .cart-empty h2 {font:400 18px/40px "Microsoft YaHei";padding-top: 40px;}
.cart .cart-empty .link-btn {padding: 5px 12px;}
.cart a.cart-btn {background-color:#cc4026;border-radius: 2px; color: #fff;font-family: "Microsoft YaHei";}
.cart .cart-empty p a {color:#cc4026;}
.cart .free .select-free {width:100px;}