html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,span,a,b,img,em,del,label,form,fieldset,input,p,th,td{margin:0;padding:0;-webkit-text-size-adjust:none;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;}
th,em,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
fieldset,img,a img{border:0;}
img{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
.alR{text-align:right;}
.alL{text-align:left;}
.alC{text-align:center;}
del,.xline{text-decoration:line-through;color:#999;}
html{font-size:62.5%;}
/*media*/
@media only screen and (min-width:321px) and (min-height:321px){html{font-size:68.8%!important;}}
@media only screen and (min-width:385px) and (min-height:385px){html{font-size:75%!important;}}
@media only screen and (min-width:481px) and (min-height:481px){html{font-size:81.3%!important;}}
@media only screen and (min-width:561px) and (min-height:561px){html{font-size:87.5%!important;}}
@media only screen and (min-width:641px) and (min-height:641px){html{font-size:93.8%!important;}}
body{font-size:12px;font-size:1.2rem;color:#666;background-color:#f5f5f5;font-family:"Microsoft YaHei",Arial;}
a{color:#666;text-decoration:none;}
.red,a.red{color:#dd2727;}
.white,a.white{color:#fff;}
.gray,.c9,a.gray{color:#999;}
.h,a.h,h.a{color:#fd7a06;}
.c3{color:#333;}
.arial{font-family:Arial;}
.fB{font-weight:bold;}
.fI{font-style:italic;}
.f10{font-size:1rem;}
.f12{font-size:1.2rem;}
.f14{font-size:1.4rem;}
.f16{font-size:1.6rem;}
.f18{font-size:1.8rem;}
.f24{font-size:2.4rem;}
.lh16{line-height:1.6rem;}
.lh18{line-height:1.8rem;}
.lh20{line-height:2rem;}
.lh25{line-height:2.5rem;}
.lh30{line-height:3rem;}
.lh35{line-height:3.5rem;}
.lh55{line-height:5.5rem;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.lr10{padding:0 10px;}
.lrb10{padding:0 10px 10px 10px;}
.lr3{padding:0 3px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.pl5{padding-left:5px;}
.pb5{padding-bottom:5px;}
.pl10{padding-left:10px;}
.pl8{padding-left:18px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.hid{display:none;}
.ov{overflow:hidden;}
.WB{word-wrap:break-word;}
.wn{white-space:nowrap;}
input::-webkit-input-placeholder{color:#999;}
input{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type="text"],input[type="password"],input[type="number"],input[type="tel"],input[type="search"]{vertical-align:middle;-webkit-appearance:none;}
.b4{border-radius:4px;}
.load img,#lod b,.gfs li{background:#fff url(../images/load.gif) 50% 50% no-repeat;}
.page{margin:0 auto;max-width:640px;min-width:320px;}
.pageauto,.header{min-width:320px;max-width:100%;margin:0 auto;}
#top{width:100%;position:relative;height:4.5rem;}
.header{background-color:#be0000;height:4.5rem;line-height:4.5rem;overflow:hidden;color:#fff;z-index:10;position:absolute;top:0;left:0;right:0;}
.t_se{height:3rem;background-color:#f9e6e6;border-radius:2px;position:absolute;left:5rem;top:0.7rem;right:5rem;overflow:hidden;-webkit-transition:all 0.3s;}
.t_sl{width:100%;height:3rem;border:none;background:none;float:left;font-size:1.4rem;margin-left:10px;}
.t_sr{position:absolute;z-index:2;right:0;background:url(../images/sbox.png) 50% 50% no-repeat;background-size:1.8rem 1.8rem;height:3rem;width:3.2rem;border:none;}
.hfix{position:fixed;z-index:9;}
.header h2,.header h1{width:100%;text-align:center;font-size:1.6rem;color:#fff;}
.b_l,.b_r,#qxs{position:absolute;top:0;font-size:1.4rem;color:#efdcdc;min-width:3.2rem;display:block;height:4.4rem;}
.b_r,#qxs{right:0;text-align:right;padding-right:1rem;}
.b_l{left:0;background:url(../images/backs.png) 1rem 50% no-repeat;padding-left:1rem;background-size:1.1rem 2rem;}
.vl{padding:0 5px;}
.fot{padding:10px 0;text-align:center;}
.nav{width:100%;overflow:hidden;}
.na{width:25%;float:left;line-height:3.8rem;background-color:#fff;display:block;overflow:hidden;border-left:1px solid #eee;border-bottom:1px solid #eee;margin-left:-1px;position:relative;}
.fbtn{line-height:1.6rem;color:#fff;font-size:1.8rem;background-color:#887295;padding:0.6rem 0;float:left;width:50%;border-left:1px solid #ccc;margin:5px 0 0 -1px;}
.search{border:1px solid #ddd;background-color:#e03b3b;margin:10px 0;}
.sl{width:83%;border:none;line-height:normal;border-radius:0;height:3.4rem;color:#666;padding-left:2%;}
.sr{width:15%;height:3.4rem;background:url(../images/sbg.png) 50% 50% no-repeat;border:none;background-size:1.8rem 1.8rem;}
.b_ca,.b_xa{width:50%;float:left;background-color:#fff;line-height:1.6rem;border:1px solid #eee;border-width:1px 0 0 1px;height:7.4rem;position:relative;overflow:hidden;margin-left:-1px;}
.b_ca .c3{font-size:1.3rem;padding:1.5rem 0 0 1rem;font-weight:700;}
.b_ca .c9{font-size:1rem;padding-left:1rem;}
.w_ct{width:7.4rem;height:7.4rem;position:absolute;right:0;top:0;}
.b_xa{width:25%;text-align:center;height:8.2rem;padding-top:1rem;}
.b_xa .c3{font-size:1.4rem;font-weight:700;}
.b_xa .c9{font-size:1rem;}
.w_cb{width:6rem;height:5.5rem;margin-top:0.2rem;}
.bgw{background-color:#fff;border:1px solid #eaeaea;border-width:1px 0;overflow:hidden;}
.pd10{padding:10px;}

/*index*/
.tophome{position:fixed !important;left:0;right:0;top:0;z-index:9;}
.home-top .headers{max-width:640px;margin:0 auto;height:45px;line-height:45px;background-color:#be0000;color:#fff;position:relative;z-index:10;}
.home-top .homehd{background:url(../images/tpbg.png) 0 0 repeat-x;background-size:1px 44px;}
.home-top .homez{position:relative;z-index:2;}
.home-top .homez .t_se{height:33px;background-color:#fff;left:60px;top:6px;right:60px;}
.home-top .homez .t_sl{height:33px;}
.home-top .homez .t_sr{background:url(../images/homesc.png) 50% 50% no-repeat;background-size:16px 16px;height:33px;width:33px;}
.home-top .h_t{position:absolute;height:45px;width:60px;color:#fff;line-height:45px;text-align:center;font-size:12px;overflow:hidden;}
.home-top .h_fl{left:0;background:url(../images/item.png) 50% 50% no-repeat; background-size:20px 20px;}
.home-top .h_wl{right:0;}
.hmnv{padding:0.8rem 0 0.5rem 0;background-color:#fff;border:1px solid #efefef;border-width:0 0 1px 0;overflow:hidden;}
.hslider,.slider{width:100%;overflow:hidden;min-height:100px;max-height:200px;position:relative;}
.hslider{min-height:155px;max-height:300px;}
.sul,.lsul,.gfs{position:relative;z-index:1;width:100%;height:100%;overflow:hidden;}
.sul li,.lsul li{width:100%;height:100%;float:left;text-align:center;}
.sul a{display:block;width:100%;}
.bigm{padding:0 6px;}
#gslider{position:relative;width:100%;min-height:320px;max-height:640px;overflow:hidden;background-color:#fff;}
.gfs li{width:100%;height:100%;display:block;float:left;min-height:320px;text-align:center;}
.jdt{max-width:640px;min-height:320px;}
.btn{position:absolute;left:0;width:100%;bottom:3px;z-index:2;}
.btn i{cursor:pointer;display:inline-block;width:5px;height:5px;border:1px rgba(0,0,0,0.2) solid;margin:0 2px;background-color:#fff;border-radius:5px;opacity:0.7;}
.btn i.on{background-color:#cc0000;}
.da{width:20%;float:left;text-align:center;margin-bottom:0;color:#333;line-height:1.8rem;height:5.6rem;overflow:hidden;font-size:12px;}
.dam{width:3.4rem;height:3.4rem;}
@media only screen and (max-width:320px){.da{width:25%;margin-bottom:0.5rem;}.dam{width:3.6rem;height:3.6rem;}.xx{display:none;}}
.hrd{background-color:#fff;height:3rem;line-height:3rem;border-bottom:1px solid #efefef;}
.dh{margin:10px 0;}
.lotm{width:40%;min-height:160px;position:relative;display:block;}
.dhr{width:60%;min-height:160px;overflow:hidden;border-left:1px solid #efefef;margin-right:-1px;}
.lotm2{width:100%;border-bottom:1px solid #efefef;margin-top:-1px;display:block;}
.lotm3{width:50%;border-left:1px solid #efefef;margin-left:-1px;display:block;}
.hoot{position:absolute;width:90%;z-index:2;text-align:center;top:18%;left:0.7rem;line-height:2rem;}
.hoot p{overflow:hidden;white-space:nowrap;color:#999;text-overflow:ellipsis;}
.limg{width:76%;border-radius:100%;}
.hpre,.hpre img{min-height:120px;}
.w64{width:64%;}
.w36{width:36%;}
.w100{width:100%;}
.hpx,.hpx img{min-height:148px;}
.hpx a{width:33.33%;display:inline-block;}
.zk{background-color:#dd2727;color:#fff;padding:0 5px;margin-left:5px;}
.abr{position:absolute;right:0;top:-0.1rem;}
.t{line-height:3.2rem;overflow:hidden;height:3.2rem;}
.brl{border-left:4px solid #e74444;padding-left:5px;color:#333;font-size:1.4rem;}
.more{background:url(../images/mr3.png) right 50% no-repeat;width:3rem;background-size:3.8rem 3.8rem;height:3.2rem;padding-right:1.6rem;margin-right:10px;}
.m_z{width:100%;margin-top:-2px;border-bottom:1px solid #e5e5e5;background-color:#fff; overflow:hidden;}
.m_z a{width:25%;line-height:4rem;background-color:#fff;text-align:center;float:left;overflow:hidden;border:1px solid #efefef;border-width:1px 0 0 1px;margin:0 0 0 -1px;}
.hmg{width:100%;text-align:center;margin:1rem 0;height:6.5rem;overflow:hidden;}
.hmg img{height:6.5rem;width:auto;}
/*blist*/
.tag{display:inline-block;width:23%;float:left;background-color:#f3f3f3;line-height:3rem;margin:0 1% 0.5rem 1%;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.lma,.lwa{line-height:3.4rem;color:#333;width:25%;background-color:#fff;text-align:center;overflow:hidden;white-space:nowrap;display:block;float:left;margin-left:-1px;border:1px solid #eee;border-width:0 0 1px 1px;}
.lwa{background-color:#fff;}
.lmon{background-color:#d31313 !important;color:#fff;}
/*goodlist*/
.xj{color:#f15353;font-size:13px;font-size:1.3rem;font-weight:bold;}
.gd{width:100%;background-color:#fff;overflow:hidden;}
.ga{padding:8px 0;width:100%;display:block;height:10rem;float:left;line-height:1.6rem;overflow:hidden;border-bottom:1px solid #eee;}
.gm{width:10rem;height:10rem;float:left;margin:0 10px 0 10px;/*border-radius:0.2rem;*/}
.gt{color:#333;font-size:1.4rem;max-height:4rem;line-height:2rem;text-overflow:ellipsis;overflow:hidden;word-break:break-all;margin-bottom:0.8rem;font-weight:400;padding-right:10px;}
.s_s{display:none;font-size:1rem;color:#999;margin-top:0.2rem;}
.lp{height:2rem;white-space:nowrap;overflow:hidden;}
.ga .xj,.ga del{margin-right:5px;}
.gb{color:#aaa;margin-top:8px;}
.ea{color:#e0e0e0;padding:0 5px;}
.bigm{padding:5px 6px;width:auto;}
.bigm .ga{width:50%;border:none;height:auto;min-height:18rem;padding:0.2rem 0 0.2rem 0;}
.bigm .pm{padding:0 4px;}
.bigm .gm{width:100%;height:auto;min-height:145px;margin:0;float:none;}
.bigm .gb,.bigm del,.bigm .gray{display:none;}
.bigm .s_s{display:inline;}
.bigm .gt{font-size:1.2rem;height:2.8rem;color:#666;padding:0;line-height:1.4rem;margin:0.3rem 0 0.2rem 0;}
/*list*/
.rmb{font-size:1rem;color:#f15353;}
#listpage .t_se{left:5rem;right:5rem;}
#qxs{background-color:#be0000;display:none;z-index:6;}
.vbig{background:url(../images/nia.png) 50% 1.3rem no-repeat;background-size:2rem 5.5rem;}
.jg{display:inline-block;background-image:url(../images/l_p1.png);background-size:0.8rem 0.8rem;background-repeat:no-repeat;}
.bfx{position:fixed;right:0;bottom:0;z-index:9;height:40px;line-height:40px;}
.yem{background-color:#e8e8e8;border:1px solid #dbdbdb;display:block;text-align:center;color:#333;font-size:12px;width:50px;height:38px;float:left;}
#pgl{z-index:10;position:fixed;width:100%;text-align:center;bottom:0;margin:0 auto;padding:10px 0;background-color:#333;}
#pgl a{width:3rem;height:3rem;display:inline-block;background-color:#fff;margin:0.5rem;line-height:3rem;}
#pgl a.on{background-color:#be0000;color:#fff;}
.gbr{width:10rem;height:3rem;background-color:#333;color:#fff; position:absolute;right:50%;margin-right:-5rem;top:-3rem;line-height:3rem;}
.ftop{background:url(../images/nit.png) 50% 50% no-repeat;background-size:20px 20px;width:40px;height:40px;background-color:#000;background-color:rgba(0,0,0,0.65);float:left;display:block;}
#c_v{position:fixed;left:0;top:4.5rem;z-index:10;right:0;background-color:#fff;background:rgba(0,0,0,0.7);line-height:3rem;height:100%;overflow-y:scroll;}
.c_vs{padding:5px 0 0 5px;overflow:hidden;border-bottom:1px solid #eaeaea;}
.ca{background-color:#eee;margin:5px 1%;border-radius:4px;display:inline;float:left;width:23%;text-align:center;white-space:nowrap; line-height:3.2rem;text-overflow:ellipsis;overflow:hidden;}
.caon{background-color:#be0000;color:#fff;}
.ka{background:none;color:#be0000;font-size:1.4rem;font-weight:700;}
.sbar,.sxba{background-color:#fff;line-height:3.6rem;height:3.8rem;text-align:center;width:100%;border-bottom:1px solid #dfdfdf;overflow:hidden;}
.sbar a{width:25%;display:block;float:left;border-bottom:0.2rem solid #fff;hight:3.6rem;}
.sbar a.w50{width:50%;}
.sbar a.w33{width:33.3%;}
.sbar a span{border-right:1px solid #dfdfdf;display:block;}
.sbar a span.no{border:none;}
.sbar a.on{color:#d31313;border-color:#d31313;}
.sxba{height:4.2rem;line-height:4.2rem;background-color:#f5f5f5;}
.sxa{width:25%;display:block;height:4.5rem;font-size:1.4rem;float:left;position:relative;}
.sxon{color:#d31313;}
.rxl{height:20px;width:1px;overflow:hidden;background-color:#e7e7e7;position:absolute;right:0;top:1.3rem;}
.jg{background-position:right 1.7rem;padding-right:1.2rem;}
.von{background-position:50% -2.4rem;}
.sxon .jg{background-image:url(../images/l_p2.png);}
.sxon .pup{background-image:url(../images/l_p3.png);}
.i_new,.i_best,.i_hot,.i_pro,.i_video{display:inline-block;line-height:15px;background-color:#3dc906;color:#fff;padding:0 3px;font-size:10px;margin-left:2px;border-radius:2px;}
.i_best{background-color:#7902e6;}
.i_hot{background-color:#dd2727;}
.i_pro{background-color:#fc8800}
.i_video{background-color:#139ce2;}
.pages{padding:10px;line-height:4rem;background-color:#fff;}
.pages a{background-color:#eee;color:#333;text-align:center;font-size:1.2rem;width:31%;height:3.8rem;display:block;border:solid 1px #e5e5e5;}
#bpage{width:30%;margin:0 3%;display:block;position:relative;}
#bpage select{width:100%;display:block;height:4rem;filter:alpha(opacity=0);opacity:0;position:absolute;left:0;top:0;z-index:1;}
#bpage p{text-align:center;background:#fff url(fv.png) 90% 50% no-repeat;font-size:1.4rem;line-height:3.8rem;border:1px solid #ccc;box-shadow:0 3px 3px #D7D7D7 inset;}

/*goods*产品详情页 */
.goods-header .header{border-bottom:1px solid #910101;}
.bkw{word-break:break-all;padding:8px 10px 0 10px;}
.se_p{padding:0 10px 10px 10px;overflow:hidden;}
.gfs{min-height:320px;}
.des{padding:5px 0;}
.des img{background:url(../images/load.gif) 50% 50% no-repeat;width:100%;}
#preview{width:10rem;height:10rem;position:absolute;left:1rem;top:-4rem;border:2px solid #fff;}
.gt_xx{padding:0 1rem 2.4rem 11rem;line-height:2rem;margin-bottom:1rem;border-bottom:1px solid #e5e5e5;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.tc_box{margin-bottom:1rem;background-color:#fff;border:1px solid #e5e5e5;border-width:1px 0;padding:0.8rem 10.5rem 0.4rem 0.8rem;overflow:hidden;position:relative;}
.pac{width:9rem;min-height:100px;display:inline-block;line-height:1.4rem;color:#666;font-size:1rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.tcimg{width:9rem;height:9rem;}
.add_i{width:1.6rem;height:1.6rem;background-color:#000;text-align:center;margin:3.2rem 0.1rem 0 0.1rem;line-height:1.6rem;vertical-align:top;display:inline-block;border-radius:100%;color:#fff;font-size:1.6rem;}
.tc_in{white-space:nowrap;overflow-y:auto;webkit-overflow-scrolling:touch;padding-right:2.4rem;}
.tc_r{position:absolute;right:0;top:0;width:10rem;line-height:2rem;padding:0.8rem 0.8rem 0 0.8rem;height:100%;background-color:#fff;}
.hbtn{background-color:#bdb382;color:#fff; display:block;width:100%;line-height:3rem; text-align:center;border-radius:4px;}
.tnav{position:absolute;left:60px;right:60px;line-height:4.5rem;height:4.5rem;top:0;text-align:center;}
.dor{background:url(../images/dor.png) 1.6rem 50% no-repeat;width:3.2rem;background-size:1.8rem 0.4rem;}
.dcar{background:url(../images/tcar.png) 50% 50% no-repeat;min-width:3rem;width:3rem;height:4.5rem;background-size:1.7rem 1.7rem;right:3.2rem;z-index:4;}
.ta{color:#f5dcdc;font-size:1.4rem;display:inline-block;margin:0 0.8rem;padding:0 0.2rem;height:4rem;border-bottom:3px solid #be0000;}
.tnav .on{color:#fff;border-color:#fff;font-weight:bold;font-size:1.5rem;}
#nos{background-color:#fff;width:100%;position:fixed;bottom:0;left:0;height:4.8rem;line-height:4.8rem;border-top:1px solid #aaa;box-shadow:0px -3px 4px rgba(0,0,0,0.3);z-index:10;text-align:center;}
.noa{width:15%;float:left;border-right:1px solid #eaeaea;margin-left:-1px;line-height:1.6rem;height:4.2rem;font-size:1rem;color:#999;display:block;padding-top:0.8rem; position:relative;}
.cnum{width:15px;height:15px;background-color:#dd2727;border-radius:1rem;color:#fff;position:absolute;right:6px;top:3px;line-height:15px;}
.nol{width:33%;float:right;margin:0.4rem 1% 0 1%;border-radius:6px;line-height:4rem;color:#fff;font-size:1.5rem;border-bottom:1px solid #af1414;background-color:#dd2727;display:block;}
.nor{background-color:#ff9c00;border-color:#cd820b;}
.gtn{width:100%;background-color:#333;background-color:rgba(0,0,0,0.6);position:fixed;top:4.5rem;left:0;bottom:0;line-height:4.2rem;z-index:11;display:none;}
.gt_a{background-color:#fff;}
.gt_a li{padding:0 1rem;border-bottom:1px solid #e5e5e5;}
.gta{display:block;background:url(../images/dra.png) right 50% no-repeat;background-size:1.2rem 1.2rem;font-size:1.4rem;color:#333;}
#cok{background-color:#fff;padding:10px;}
.loot{font-size:1.4rem;background-color:#e56c6c;color:#fff;padding:0 0.5rem;margin-bottom:1rem;}
.z_p{line-height:40px;background:url(../images/sgo.png) 0 50% no-repeat;display:inline-block;background-size:1.3rem 1.3rem;padding:0 1.5rem 0 2rem;color:#999;}
.iul{margin-bottom:1rem;margin-top:-1px;}
.iul li{background-color:#f8f8f8;padding:0 10px;border-bottom:1px solid #e5e5e5;line-height:3.4rem;height:3.4rem;overflow:hidden;font-size:1.1rem;}
.ah_r{display:block;background:url(../images/rdd.png) right 50% no-repeat;background-size:1.2rem 1.2rem;}
.i_wl{background:url(../images/syf.png) left 50% no-repeat;background-size:1.3rem 1.3rem;padding-left:1.8rem;}
.cdd{color:#ddd;padding:0 5px;}
.gbgw{background-color:#fff;border:1px solid #eaeaea;border-width:1px 0;margin-bottom:10px;}
.gh1{font-size:1.5rem;color:#333;font-weight:normal;display:inline;}
.dot{border-top:1px dashed #eee;}
input.num{border:1px solid #e3e3e3;font-size:1.4rem;border-left:none;border-right:none;width:5rem;height:3.6rem;line-height:3.6rem;color:#333;text-align:center;float:left;border-radius:0;}
.zja{border:1px solid #e3e3e3;width:3rem;height:3.6rem;color:#333;-webkit-user-select:none;overflow:hidden;font-size:2.8rem;text-align:center;float:left;background-color:#eee;}
.f20{font-size:2rem;}
.sxdl{width:100%; overflow:hidden;}
.sxdl .c3{width:3rem;float:left;}
.sxdl dd{padding-left:33px;}
.sx{margin:5px 0 10px 0;}
.sx label{margin:0 0.5rem 0.5rem 0;display:inline-block;color:#333;background-color:#fff;border-radius:2px;border:1px solid #ddd;padding:0 1rem;}
.sx input{display:none;}
.sx label.on{border-color:#dd2727;background-color:#dd2727;color:#fff;}
.sx label.on .c9{color:#f7b6b6;}
.gul li{background-color:#fff;border-top:1px solid #eaeaea;line-height:4.6rem;padding:0 10px;}
.gul li.no{border-top:none;}
.gul li a{width:100%;display:block;font-size:1.4rem;background:url(../images/dra.png) right 50% no-repeat;background-size:1.2rem 1.2rem;}
.s_d img{border:1px solid #fff;}
.s_d img.on{border-color:#b10000;}
.gba{width:33.1%;line-height:1.4rem;display:inline;float:left;}
.gba .de{padding:0 5px 5px;text-align:center;}
.gba p{overflow:hidden;font-size:1rem;white-space:nowrap;text-overflow:ellipsis;}
.mj{font-size:1.7rem;color:#dd2727;padding-right:5px;}
.comment li{line-height:2rem;color:#333;border-bottom:1px solid #eaeaea;padding:10px;overflow:hidden;position:relative;}
.comment .omg{border-radius:45px;margin-right:10px;width:2.5rem;height:2.5rem;}
.comment .right{font-size:1rem;}
.comment .ov{line-height:3rem;margin-bottom:6px;color:#999;}
.comment .s_d{margin-top:0.6rem;}
#ppic{width:100%;background-color:#aaa;overflow:hidden;border-radius:6px;margin:6px 0;line-height:3.2rem;text-align:center;}
#ppic li{width:50%;float:left;overflow:hidden;color:#f2f2f2;display:block;}
#ppic li.on{background-color:#26aafc;box-shadow:0px 0px 3px #065f96 inset;color:#fff;}
.des{line-height:2.4rem;padding:5px 10px;overflow:hidden;word-wrap:break-word;}
.des img{vertical-align:top;min-width:300px;max-width:100%;min-height:100px;display:block;}
.ajc,a.ajc{width:100%;line-height:4rem;text-align:center;color:#fff;background-color:#6cb248;display:block;}
.line{height:1px;background-color:#eaeaea;border-bottom:1px solid #fff; overflow:hidden;width:100%;}
.c8{color:#888;}
.c_af{color:#AF874D;}
#loadf{min-height:500px;}
.sd_m{width:100%;margin-top:10px;}
#shxs{width:100%;height:100%;line-height:3rem;left:0;bottom:0;z-index:10;background-color:#000;background-color:rgba(0,0,0,0.6);position:fixed;display:none;}
.fx_x{background-color:#fff;padding:1rem 1rem 3rem 1rem;position:absolute;bottom:0;left:0;right:0;}
.nosf{ background-color:#fff;position:absolute;bottom:0;left:0;z-index:10;border-top:1px solid #999;text-align:center;line-height:4rem;width:100%;}
/*car*/
.ept{padding:80px 10px;}
.g_tss{background-color:#F2EBE3;line-height:4rem;color:#333;border-bottom:1px solid #DDD2C0;display:block;}
.bbt,a.bbt,.bigsee,.gbtn{background-color:#dd2727;width:100%;height:4.4rem;line-height:4.4rem;color:#fff;display:block;font-weight:bold;text-align:center;margin:5px auto;border:none;border-radius:4px;-webkit-appearance:none;font-size:1.6rem;}
.gbtn,.bigsee{background-color:#0ba816;border-bottom:1px solid #04950e;box-shadow:1px 1px 5px #999;}
.car{padding:10px;background-color:#fff;height:6.6rem;overflow:hidden;display:block;border-bottom:1px solid #eaeaea;}
.car dt{width:6.6rem;height:6.6rem;float:left;}
.car img{width:6.6rem;height:6.6rem;}
.car dd{height:6.6rem;line-height:1.8rem;overflow:hidden;padding-left:10px;}
.car h3{font-weight:normal;margin-bottom:6px;overflow:hidden;max-height:3.8rem;}
.car dd input{width:4rem;height:2rem;border:1px solid #ddd;text-align:center;}
.car .f10{color:#999;padding:0 3px;}
.lbtn,.rbtn{width:48%;display:block;line-height:4rem;border:1px solid #fb6878;text-align:center;font-size:1.5rem;background-color:#fff0f0;color:#c40000;border-radius:4px;}
.rbtn{border-color:#c40000;background-color:#c40000;color:#fff;}
.sck{line-height:3.5rem;background-color:#ddd;padding:0 10px;}
.sck em{float:right;margin-top:1.4rem;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:8px solid #666;}
.sckt em{border-top:none;border-bottom:8px solid #666;}
.select{-webkit-appearance:button;appearance:button;width:31%;background:#fff url(fv.png) right 50% no-repeat;border:1px solid #ddd;margin-right:5px;height:3.6rem;padding:0 10px 0 2px;border-radius:4px;color:#666;}
.login,.regist,#car{margin:10px 0;padding:10px;color:#333;line-height:4.8rem;}
#car{padding:10px 0;}
#fukuan{margin-top:1rem;border-top:1px solid #e5e5e5;}
.pmz{padding:0 1rem;display:block;background-color:#fff;border-bottom:1px solid #e5e5e5;line-height:4rem;overflow:hidden;}
.pmz img{float:left;margin:1.2rem 1rem 0 0;width:1.6rem;height:1.6rem;}
.pmz p{background:url(ck_no.png) right 50% no-repeat;background-size:1.8rem 1.8rem;}
.pmz i{color:#999;padding-left:1rem;}
.pmon p{background-image:url(ck_yes.png);}
.pmon{color:#c40000;}
.pmon i{color:#ddac27;}
.pt{width:98%;border:1px solid #eaeaea;border-radius:4px;padding-left:2%;line-height:normal;height:3.5rem;color:#666;font-size:1.4rem;}
.byes{line-height:2.4rem;margin:0 0 15px 0;background-color:#e7e0b3;font-size:1.4rem;color:#333;padding:10px;}
.hli li{padding:0 10px;line-height:3.2rem;border-top:1px solid #eaeaea;display:block;text-align:right;overflow:hidden;}
.hli li a{width:76%;float:left;height:3.2rem;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.hli li span{color:#cc0000;}
.pt10{padding-top:10px;}
.cto{font-size:24px;font-weight:bold;color:#dd2727;}
/*o*/
.wbt{line-height:3.8rem;width:100%;border-radius:4px;border:1px solid #ddd;text-align:center;display:block;font-size:1.4rem;background-color:#fff;}
.sb,a.ab,.bgray,a.sbw,.huib{text-align:center;background-color:#dd2727;width:49%;border:none;color:#fff;height:3.8rem;line-height:3.8rem;font-size:1.5rem;-webkit-appearance:none;border-radius:4px;display:block;}
a.sbw{width:100%;border-radius:0;}
a.ab{background-color:#999;color:#fff;}
.huib{background-color:#fff;color:#999;border:1px solid #eee;}
#lod b{line-height:50px;padding-left:20px;}
.sebg{background-color:#fff;background:rgba(255,255,255,0.95);position:absolute;height:350px;color:#333;line-height:40px;left:0;right:0;top:0;z-index:1;}
.sebg .lr10{border-top:45px solid #be0000;}
.hw{border:1px solid #ddd;border-radius:5px;font-size:12px;line-height:34px;display:inline-block;background-color:#fff;margin:0 5px 10px 5px;padding:0 10px;}
.U,.U a{text-decoration:underline;}
.ftpc{width:50%;min-height:7.5rem;display:block;float:left;text-align:center;margin:0 0 1px -1px;border-left:1px solid #f5f5f5;}
.gtop{width:40px;height:40px;background:url(tops.png) 50% 50% no-repeat;background-size:40px 40px;position:fixed;bottom:1rem;right:1rem;z-index:9;display:none;}
/*vip*/
.vip{height:12px;line-height:12px;border-radius:4px;display:inline-block;border:1px solid #c1a75f;color:#c1a75f;font-size:10px;padding:0 3px;margin:0 0 0 5px;}
.fix{position:fixed;top:0;left:0;right:0;z-index:10;display:block;}
/*weix*/
.gvideo{background-color:#2c2c2c;width:100%;margin-top:1rem;}
.wxfix{width:100%;height:4.2rem;padding-top:0.4rem;border-top:1px solid #e0e0e0;background-color:#fcfcfc;color:#000;line-height:1.8rem;}
.fixft{position:fixed;left:0;bottom:0;z-index:9;}
.wx_av{width:4rem;height:4rem;float:left;margin:0 0.6rem 0 1rem;}
.wx_txt{background-color:#d80d0d;color:#fff;padding:0 5px;}
.wx_xx{position:absolute;color:#fff;width:2rem;background-color:#999;border-radius:100%;height:2rem;display:block;right:0.3rem;top:-0.2rem;text-align:center;line-height:2rem;}
.rel{position:relative;}

/*男性专区*/
.wa3{width:33.333%;float:left;display:block;border-left:2px solid #fff;margin-left:-2px;}
.wa3 img{width:100%;min-height:134px;}
.r_tg{max-width:7.4rem;overflow:hidden;float:right;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;margin-left:5px;padding-right:8px;background:url(http://s.qw.cc/mobile/css/ydo.png) right 50% no-repeat;background-size:0.3rem 0.3rem;}
.ma{width:25%;background-color:#fff;float:left;display:block;line-height:4rem;text-align:center;color:#333;font-weight:700;}
#catc{padding:0.5rem 0;box-shadow:1px 3px 3px #eee;}
.dam{height:3rem;width:3rem;}
.da{margin-bottom:0.2rem;}
.t{line-height:3.6rem;height:3.6rem;}
.brl{border:none;padding-left:10px;color:#000;}
.more{height:3.6rem;}
.tag{background-color:#fff;}
.bigm{padding:0 6px;}
.bigm .gm{border:1px solid #f5f5f5;}
.bigm .gt{color:#444;}
.heng{white-space:nowrap;width:100%;height:170px;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;}
.henga{display:inline-block;height:170px;width:130px;margin-right:0.5rem;overflow:hidden;line-height:16px;background-color:#fff;font-size:12px;}
@media only screen and (max-width:320px){.da{width:25%;}}


/***分类 */
.category {overflow:hidden;}
.category .t_se{left:6rem;right:6rem;}
.category .c_l{width:30%;background-color:#f2f2f2;min-height:300px;position:relative;overflow:hidden;}
.category .c_r{width:70%;background-color:#fff;overflow:hidden;min-height:300px;position:relative;}
.category .c_lul{position:relative;width:100%;padding-bottom:4rem;}
.category .c_lul li{line-height:4.5rem;text-indent:2rem;font-size:1.4rem;color:#666;border-bottom:1px solid #e5e5e5;}
.category .c_lul li.on{background-color:#fff;color:#c40000;font-weight:bold;}
.category .cla{width:46%;display:inline-block;text-align:center;overflow:hidden;padding:1rem 0;}
.category .nbtn{width:80%;line-height:4rem;border:1px solid #ddd;border-radius:6px; text-align:center; display:block;color:#333;font-size:1.4rem;margin:15px auto 15px auto;}
.category .c_img{width:5.4rem;height:5.4rem;}
.category #cbox{position:relative;width:100%;height:auto;padding-bottom:30px;}
@media only screen and (min-width:768px){
   .category  .cla{width:31%;padding:2rem 0;}
}
.category .fen_a {height:70px;margin:1rem auto 0;overflow:hidden;text-align:center;width: 90%;}
.category .fen_img {height:70px;width:100%;}

/*列表页*/
@media only screen and (min-width:640px){.home-list .bigm .ga{width:33.33%;}}
.home-list .ltag{padding:0.5rem;background-color:#fff;overflow:hidden;border-bottom:1px solid #e5e5e5;}

/**购物车*/
@-webkit-keyframes fadeo{0%,100%{color:#FFF} 50%{color:#FF0}}
.nxl{-webkit-animation:fadeo 1s linear infinite;}
.jc_l{text-align:left;text-indent:10px;}
.nucar{width:10rem;height:10rem;}
.ept{padding-bottom:1rem;}
.hx_line{height:6rem;line-height:6rem;position:relative; text-align:center;}
.hx_line b{display:inline-block; background-color:#f5f5f5; font-size:1.5rem;color:#333;padding:0 1rem; position:relative;z-index:2;}
.hx_fline{position:absolute;width:100%;height:1px; background-color:#ddd; overflow:hidden;left:0;top:50%;z-index:1;}
.heng{white-space:nowrap;width:100%;height:184px;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch}
.henga{display:inline-block;height:170px;width:130px;border:4px solid #fff;overflow:hidden;line-height:16px;background-color:#fff;font-size:12px;}

/*帮助中心*/
/*关于我们*/
.about .qabout{text-indent:20px;word-break:break-all;}
.about .des img{max-width:100%;height:auto;}

/*产品需求*/
.home-need .need{min-height:25rem;background-color:#fff;padding:0 5px 10px 5px;margin-bottom:10px;border-bottom:1px solid #eaeaea;}
.home-need .need a{display:inline-block;padding:0 10px;border-radius:4px; line-height:36px;color:#333; background-color:#f1f0f0;margin:10px 5px 0 5px;}
.home-need .area{border:1px solid #ddd; height:80px;width:99%;border-radius:4px;}

/*app下载*/
.app{background-color:#ac73e6;padding:1rem 0;}
.app .dp_btn,.app .dp_rbtn,.app .ipd_btn{width:100%;line-height:50px; display:block; text-align:center;font-size:18px;color:#333;background-color:#f4f4f4;border-radius:8px;margin-bottom:1rem;}
.app .dp_rbtn{background-color:#f546ab;color:#fff;}
.app .ipd_btn{background-color:#ac73e6;border:1px solid #c08bf5;color:#fff;width:auto;}

/*user.css*/
.mb10{margin-bottom:10px;}
.uava{margin-right:10px;width:6rem;height:6rem;}
.uiu{width:2.4rem;height:2.4rem;margin-right:0.5rem;}
.bul a,.av_a,.arr,.s_h a,.od a{background:url(dra.png) right 50% no-repeat;background-size:1.2rem 1.2rem;}
.av_a{width:100%;line-height:1.8rem;display:block;}
.bul{border-top:1px solid #eaeaea;background-color:#fff;}
.bul li{line-height:4.4rem;border-bottom:1px solid #eaeaea;display:block;padding:0 10px;}
.bul a{display:block;font-size:1.4rem;color:#333;}
.uorder li,.s_h li{border-bottom:1px solid #eaeaea;color:#999;line-height:2rem;padding:10px;display:block;overflow:hidden;white-space:nowrap;}
.omg{float:left;margin-right:10px;width:8rem;height:8rem;}
.btline{border-top:1px solid #eaeaea;padding:5px 0 0 0;margin-top:10px;}
.bun{border:1px solid #888;line-height:3rem;height:3rem;display:block;padding:0 12px;border-radius:4px;color:#333;background-color:#fff;float:right;margin:5px 0 0 10px;}
.uorder li{margin-bottom:10px;background-color:#fff;}
.uorder a,.s_h a{display:block;}
.uorder{border-top:1px solid #eaeaea;}
.min-h{min-height:300px;}
.s_h li{color:#333;background-color:#fff;}
.s_h h3{color:#333;font-size:1.4rem;}
.checkb{width:2rem;height:2rem;border:1px solid #ddd; vertical-align:middle;background-color:#fff;}
.col li{border-bottom:1px solid #ddd;height:100px;width:100%;overflow:hidden;position:relative;}
.col .c_del{width:50px;height:30px;border:1px solid #888;text-align:center;background-color:#fff;border-radius:4px;line-height:30px;position:absolute;right:10px;top:10px;}
.col a{width:76%;display:block;height:80px;padding:10px 0;font-size:14px;overflow:hidden;}
.col a img{float:left;margin:0 10px;border-radius:4px;}
.col a h3{font-weight:normal;line-height:20px;height:40px;overflow:hidden;}
.y_hj td{padding:10px 0;border-bottom:1px solid #ddd;}
.y_hj .hbo{ background-color:#be0000;line-height:8rem;height:8rem;width:90%;text-align:center;font-size:1.8rem;color:#fff; overflow:hidden;}
.star{width:125px;height:25px;background:url(star.png) 0 -30px repeat-x; position:relative;}
.star p{width:25px;height:25px;float:left; position:relative;z-index:2;}
.star .xin{width:125px;height:25px;overflow:hidden;background:url(star.png) 0 0 repeat-x;position:absolute;z-index:0;}
.ye{line-height:3rem;margin:10px 0;}
.ye a,.ye span{color:#333;padding:0 10px;border:1px solid #ddd;display:inline-block;background-color:#fff;margin:5px 5px;}
.ye span{color:#be0000;border-color:#be0000;}
.o_t{background-color:#5E6B85;padding:10px;line-height:2rem;color:#fff;}
.w_l li{background-color:#fff;color:#25AE5F; padding:10px;border-bottom:1px solid #ddd;}
.od{margin-top:10px;border-top:1px solid #ddd;}
.od li{display:block;line-height:1.8rem;overflow:hidden;background-color:#fff;border-bottom:1px solid #eaeaea;padding:10px 10px 10px 0;}
.od li a{width:100%;display:block;height:8rem;}
.od .left{width:8rem;height:8rem;margin:0 10px 0 0;}
#sel_g{height:3rem;border:1px solid #eaeaea;}

/*今日抢购**/
.home-today .qg_icon{background:url(http://s.qw.cc/mobile/css/loot/qqg.png) 50% 50% no-repeat; background-size:7.7rem 2.5rem;width:100%;height:4.5rem;}
.home-today .tw_tab{line-height:1.4rem; height:4.5rem;width:100%;overflow:hidden; background-color:#fff;text-align:center;}
.home-today .tw_tab li{float:left;width:50%;height:3.5rem;padding-top:0.8rem;display:block;font-size:1.5rem;border-bottom:2px solid #fff;}
.home-today .tw_tab li.on{border-color:#be0000;color:#be0000;font-weight:bold;}
.home-today .l_sbn{font-size:1rem;color:#999;}
.home-today .tg_key{background-color:#ffecec;border:1px solid #f59797;color:#e45c5c; line-height:16px;font-size:10px; display:inline-block;padding:0 5px;margin-right:5px;border-radius:2px;}
.home-today .daj b{background-color:#000;border-radius:2px;color:#fff;padding:3px 3px;margin:0 2px;}
.home-today .loota{width:100%;padding:1rem 0;border-bottom:1px solid #eaeaea;color:#ddd;background-color:#fff;display:block;height:13rem;overflow:hidden;position:relative;}
.home-today .loota .pm{padding:0 10px;overflow:hidden;}
.home-today .loota h3{font-size:1.4rem;color:#333;line-height:1.8rem;height:3.6rem;overflow:hidden;margin-bottom:0.8rem;}
.home-today .loimg{width:13rem;height:13rem;float:left;margin:0 10px 0 0;}
.home-today .loota .xj{float:left;font-size:1.6rem;}
.home-today .masq{width:8rem;height:4.5rem;background:url(http://s.qw.cc/mobile/ui/lootbtn2.png) right 50% no-repeat;background-size:contain; position:absolute;right:10px;bottom:10px;}
.home-today .l_bq{margin:1rem 0;}
.home-today .loota .ov{height:4.2rem;line-height:4.2rem;}
.home-today .huany{padding-right:1.8rem;color:#999;font-size:1rem;margin-right:10px;background:url(http://s.qw.cc/mobile/css/huan.png) right 50% no-repeat;background-size:1.7rem 1.7rem;}
.home-today .word_l{border-top:1px solid #efefef;padding-top:1rem;overflow:hidden;line-height:2.6rem;}
.home-today .word_l li{width:50%;float:left;overflow:hidden;white-space:nowrap;}
.home-today .word_l li a{display:block;width:96%;overflow:hidden; text-overflow:ellipsis;color:#888;}
.home-today .loot_tp{background-color:#fff;margin-top:1rem;min-height:260px;overflow:hidden;position:relative;}
.home-today .lt_img{position:relative;z-index:1;}
.home-today .lt_topic{position:absolute;left:0;top:0;width:100%;height:57%;display:block;z-index:2;}
.home-today .lt_ap{position:absolute;width:100%;height:40%;bottom:0;left:0;z-index:2;overflow:hidden;}
.home-today .lt_a1{float:left;width:25%;display:block;height:100%;font-size:1rem;color:#333;text-align:center;}
.home-today .lt_a1 p{margin-top:92%;}
.home-today .hx_line{height:4rem;line-height:4rem;position:relative; text-align:center;}
.home-today .hx_line b{display:inline-block; background-color:#f5f5f5; font-size:1.5rem;color:#333;padding:0 1rem; position:relative;z-index:2;}
.home-today .hx_fline{position:absolute;width:100%;height:1px; background-color:#ddd; overflow:hidden;left:0;top:50%;z-index:1;}

/**news--新品首发*/
.home-new .xinp{background-color:#fff;padding:10px;margin-top:10px;overflow:hidden;line-height:2rem;}
.home-new .xinp dt{padding-bottom:0.5rem;font-size:1.5rem; font-weight:700;}
.home-new .xinp dd{width:100%;overflow:hidden;line-height:2.2rem;}
.home-new .xinp dd.lh16{line-height:1.6rem;padding:0.5rem 0 1rem 0;font-size:1.2rem;}
.home-new .xin_r{width:33.3%;display:block;min-height:93px;float:left;border-left:1px solid #fff;margin-left:-1px;}
.home-new .xj{float:left;color:#ff4040;font-size:1.6rem;}
.home-new .z_tiyan{border:1px solid #119927;color:#119927;display:inline-block;float:right;text-align:center;padding:0 1rem;border-radius:20px;}
.home-new .tg_key{background-color:#ffecec;border:1px solid #f59797;color:#e45c5c; line-height:16px;font-size:10px; display:inline-block;padding:0 5px;margin-left:5px;border-radius:2px;}
.home-new .lsul{position:relative;z-index:1;width:100%;height:100%;overflow:hidden;text-align:center;}
.home-new .lsul li{width:100%;height:100%;float:left;}
.home-new .lsul img{min-height:125px;width:100%;}
/*hslider*/
.choose-pannel{width:100%;height:4.3rem;}
.choose-nav-ht{width:100%;height:4.2rem;border-bottom:1px solid #eaeaea;}
.choose-nav{height:4.2rem;background:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;position:relative;overflow:hidden}
.choose-pannel .fixed-nav{position:fixed;top:0;z-index:9;max-width:640px}
.choose-pannel .choose-nav-wrap{height:4.2rem;font-size:0;white-space:nowrap;letter-spacing:normal;word-spacing:normal;background-color:#fff;position:absolute;top:0;z-index:9;overflow:hidden;min-width:100%}
.choose-pannel .hnli{display:inline-block;width:86px;line-height:4.2rem;text-align:center;overflow:hidden;text-align:center;font-size:14px;color:#252525}
.choose-pannel .active{color:#be0000; font-weight:bold;}
.choose-pannel .nv-bg{border-bottom:solid 3px #be0000;width:86px;height:2px;overflow:hidden;position:absolute;bottom:0;z-index:100}
.fix{box-shadow:0px 2px 4px rgba(0,0,0,0.1);}
.huany{padding-right:1.8rem;color:#999;font-size:1rem;margin-right:10px;background:url(http://s.qw.cc/mobile/css/huan.png) right 50% no-repeat;background-size:1.7rem 1.7rem;}
.word_l{border-top:1px solid #efefef;padding-top:1rem;overflow:hidden;line-height:2.6rem;}
.word_l li{width:50%;float:left;overflow:hidden;white-space:nowrap;}
.word_l li a{display:block;width:96%;overflow:hidden; text-overflow:ellipsis;color:#888;}
.pm{position:relative;}
.vd_msk{width:4rem;height:4rem;position:absolute;left:50%;top:34%;margin-left:-2rem;z-index:3; background:url(http://s.qw.cc/mobile/ui/play-icon.png) 50% 50% no-repeat; background-size:contain;}

/*hot--热销排行*/
.home-hot .each_categroy{margin-top:0.5rem;}
.home-hot .load{padding-top:1rem;overflow:hidden;background-color:#fff;}
.home-hot .gah{height:12.5rem;display:block;overflow:hidden;padding:10px;border-bottom:1px solid #efefef;}
.home-hot .hgm{height:12.5rem;width:12.5rem;border-right:10px solid #fff;float:left;}
.home-hot .sn_ra{height:12.5rem;}
.home-hot .sftt{position:relative;height:4rem;overflow:hidden;}
.home-hot .redu{width:4rem;height:2.8rem;padding-top:1.2rem;background:url(../images/hot_bg.png) 0 50% no-repeat;background-size:4rem 4rem;line-height:1.1rem;font-size:1rem;color:#fff;text-align:center;float:left;}
.home-hot .gah em{display:block;}
.home-hot .gah .left{margin:0.7rem 0 0 1rem;}
.home-hot .h_gt{font-size:1.3rem;line-height:1.5rem;height:3.2rem;color:#333;text-overflow: ellipsis;overflow: hidden;word-break: break-all;margin-bottom:1rem;font-weight:700;}
.home-hot .snote{font-size:1rem;max-height:3rem;line-height:1.5rem;overflow:hidden;margin-bottom:1rem;color:#999;}
.home-hot .xj{padding-right:0.5rem;font-size:1.5rem;color:#ff5252;}
.home-hot .h_gb{font-size:1rem;color:#999;}
.home-hot .hmore{width:4rem;border:1px solid #ff396c;line-height:2rem;border-radius:20px;text-align:center;color:#ff5252;position:absolute;right:0;top:1.2rem;}
.home-hot .lsul{position:relative;z-index:1;width:100%;height:100%;overflow:hidden;text-align:center;}
.home-hot .lsul li{width:100%;height:100%;float:left;}
.home-hot .lsul img{min-height:125px;width:100%;}

/*立即购买**/
.pt{margin:0.5rem 0;}
.vbt{border-radius:0;height:5rem;margin:0;line-height:5rem;font-size:2rem;}
#bonus_sn{width:100%;border:1px solid #ddd;height:3.6rem;}
#car{margin-top:0;}

/*购买成功*/
.obtn,.sbred{border:1px solid #be0000;line-height:3.2rem;height:3.2rem;float:left;background-color:#fffefc;-webkit-appearance:none;border-radius:4px;font-size:1.3rem;color:#be0000;padding:0 1rem;}
.sbred{background-color:#16a921;border-color:#088e06;margin-top:1rem;color:#fff;padding:0 9.3rem;}
.dsbtn{border-color:#ddd;color:#999;}
.rok{width:2rem;height:2rem;background:url(http://s.qw.cc/mobile/css/ok2.png) 0 0 no-repeat;background-size:2rem 2rem;display:inline-block;margin-right:0.5rem;}
#yzt,#yzs{padding:20px 10px 10px 10px;}
.f15{font-size:1.5rem;}
.pl3{padding-left:3.5rem;}
.bgy{background-color:#faebe1;font-size:1.3rem;border:1px solid #f0d4c0;color:#b87a4f;padding:0.8rem;margin:1rem 0;line-height:1.6rem;border-radius:4px;}
#code{border:1px solid #ddd;width:9rem;height:3.2rem;line-height:3.2rem;margin-right:0.5rem;padding-left:5px;float:left;}
.dyes{width:60px;height:60px;margin-bottom:1.5rem;}
.brl{font-weight:700;}
.okline{border-top:1px solid #efefef;padding-top:1rem;margin-top:1rem;line-height:1.6rem;}

/*登陆注册*/
.login-reg{background-color:#fff;}
.linput{width:90%;height:5rem;line-height:normal;padding:0 0 0 10%;margin-bottom:1rem;border-radius:0;font-size:1.5rem;border:none;background:url(http://s.qw.cc/mobile/css/l_user.png) 0 50% no-repeat;background-size:2rem 2rem;border-bottom:1px solid #ddd;}
.lpass{background-image:url(http://s.qw.cc/mobile/css/l_pass.png);}
.lgqq,.lgweibo{color:#555;padding:0 2.4rem;display:inline-block;}
.lgqq{background:url(http://s.qw.cc/mobile/css/lg_qq.png) 0 50% no-repeat;background-size:1.6rem 1.6rem;}
.lgweibo{background:url(http://s.qw.cc/mobile/css/lg_weibo.png) 0 50% no-repeat;background-size:1.8rem 1.6rem;}
.lgxx{padding:2.5rem 1rem;line-height:3rem;text-align:center;}

/*购物帮助*/
.de_pds{background-color:#fff;padding:1.5rem 2rem;}
.at_h1{font-size:2rem;color:#000;line-height:1.8rem;}
.desa{line-height: 2.4rem;overflow: hidden;word-wrap: break-word;}
.desa img{max-width:100%;height:auto;}
.sub_tt{color:#aaa;margin:1rem 0;}
.wxfix{width:100%;height:4.2rem;padding-top:0.4rem;border-top:1px solid #e0e0e0;background-color:#fcfcfc;color:#000;line-height:1.8rem;border-bottom:1px solid #eaeaea;}
.wx_av{width:4rem;height:4rem;float:left;margin:0 0.6rem 0 1rem;}
.wx_txt{background-color:#d80d0d;color:#fff;padding:0 5px;}
.hmnv{padding:0.8rem 0 0.5rem 0;background-color:#fff;border:1px solid #efefef;border-width:0 0 1px 0;overflow:hidden;}

/*订单列表*/
.uorder li{background-position:right 30%;}

/*支付成功*/
.pay-result .yzt{padding:20px 10px 10px 10px;}
.pay-result .dyes{width:60px;height:60px;margin-bottom:1.5rem;}
.pay-result .zfjg{font-size:2rem;color:#000;line-height:4rem;}
.pay-result .green{color:#21b101;font-weight:700;}
.pay-result .help{word-break:break-all;}

/**
 * 404
 */
.show-404 .cwpic{width:90%;margin:1rem 0;}
.show-404 .cw_bxx{color:#999;line-height:2rem;padding:1rem;background-color:#fff;position:relative; overflow:hidden;}
.show-404 .gbtn{margin-top:3rem;}
.show-404 .fengche{width:9rem;height:11rem; background:url(../images/4043.png) 50% bottom no-repeat;background-size:4.2rem 6.7rem; position:absolute;right:6%;bottom:4rem;}
.show-404 .fengche_s{width:9rem;height:9rem; position:absolute;left:0;top:0;-webkit-animation: spin 6s linear infinite;animation: spin 6s linear infinite;}
.show-404 .cuo_info{background-color:#fff; text-align:center;padding:0 1.6rem;margin-bottom:2rem; line-height:2.5rem;}
@-webkit-keyframes spin{0% {transform:rotate(0deg);}100% {transform:rotate(360deg);}}
@keyframes spin{0% {transform:rotate(0deg);}100% {transform:rotate(360deg);}}

/**
 *个人中心--个人信息
*/
.ucenter-infor .xul{background-color:#fff;margin:1rem 0;line-height:2.4rem;color:#333;border-top:1px solid #e5e5e5;}
.ucenter-infor .xul li{border-bottom:1px solid #e5e5e5;overflow:hidden;background:url(http://s.qw.cc/mobile/css/dr.png) right 50% no-repeat;background-size:1.7rem 1.2rem;padding:1rem 3rem 1rem 1rem; text-align:right;}
.ucenter-infor .xul b{font-size:1.4rem;color:#333;float:left;}
.ucenter-infor .xul i{color:#999;}
.ucenter-infor-msk{width:100%;height:100%;position:fixed;left:0;top:0; background-color:#333;background-color:rgba(0,0,0,0.6);z-inedx:9; display:none;}
.ucenter-infor-msk .dx{background-color:#26AAFC;color:#fff;display:block;-webkit-appearance:none;line-height:3rem;border:none;width:100%;text-align:center;border-radius:4px;margin:1rem 0;}
.ucenter-infor-msk .prbox{width:90%;background-color:#fff;border:1px solid #ddd;border-radius:4px; position:absolute;top:10rem;left:50%;margin:0 0 0 -45%;z-index:10; line-height:4rem;}
.ucenter-infor-msk .avatar{width:100%; height:3.5rem;border:1px solid #ddd;margin:2rem 0;}
.ucenter-infor-msk .sms_box{margin:1rem 0;}

/**物流信息*/
.wuliu .video_wx{min-height:150px;position:relative;}
.wuliu .wuliu_t{position:absolute;left:0;right:0;top:2rem;font-size:1.8rem;color:#fce2e5;line-height:2.4rem; text-align:center;}
.wuliu .wuliu_tt{font-size:1.6rem;}
.wuliu .fstp_s{background-color:#fff;border:1px solid #efefef;border-width:1px 0;line-height:1.4rem;overflow:hidden;padding:1rem 0;text-align:center;}
.wuliu .fs_step{float:left;color:#333;width:33.33%;font-size:1.2rem;color:#000;}
.wuliu .wl_icon{width:3rem;height:3rem;margin-bottom:0.5rem;}
.wuliu .fs_step em{display:block;color:#999; font-size:1rem;}
.wuliu .fs_step em.red{color:#f8504d;}