@charset "utf-8";
body{font-family:微软雅黑;color:#4f4f4f;background-color: #fff;}
a,a:link,a:visited,a:hover,a:active{text-decoration:none;outline:none;}
input{outline: none;}
a{transition:color 300ms ease-out 0s;}
ul,p,label,hr,dd{margin: 0;padding: 0;}
li{ list-style:none;}
.clearfix{*zoom:1;}

.screen-width{width: 1200px;margin: 0 auto;}
.screen-min-width{width: 1000px;margin: 0 auto;}

@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size: 16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*登录注册*/
.icon-37:before { content: "\e604"; }
.icon-mima:before { content: "\e602"; }
.icon-qq:before { content: "\e601"; }
.icon-mima1:before { content: "\e609"; }
.icon-yonghu:before { content: "\e605"; }
.icon-xinlangweibo:before { content: "\e606"; }
.icon-warn2:before { content: "\e600"; }
.icon-zhifubao-copy:before { content: "\e608"; }
.icon-zhanghuming:before { content: "\e603"; }

/* 局部 */
.icon-shibai:before { content: "\e626"; }
.icon-wo:before { content: "\f00f3"; }
.icon-unlock:before { content: "\e6c2"; }
.icon-weibo:before { content: "\e60c"; }
.icon-qq:before { content: "\e61c"; }
.icon-alipay:before { content: "\e666"; }
.icon-tishi:before { content: "\e628"; }
.icon-mima:before { content: "\e736"; }
.icon-yonghuming:before { content: "\e620"; }
.icon-jinggao:before { content: "\e786"; }
.icon-5:before { content: "\e60f"; }
.icon-1:before { content: "\e698"; }
.icon-2:before { content: "\e601"; }
.icon-3:before { content: "\e60d"; }
.icon-4:before { content: "\e603"; }
.icon-gou:before { content: "\e63b"; }
.icon-gouwuche:before { content: "\e601"; }
.icon-gouwuche1:before { content: "\e600"; }
i.screenimg-icon{background:url("../images/merchandise.png") no-repeat;display: block;}
i.add-logo{width: 32px;height: 32px;background: url("../images/add-logo.gif") no-repeat;display: block;}

/* 双飞翼布局 */
.search-bird-head{_zoom: 1;}
.screen-bird{float: left;width: 100%;}
.bird-left-wing{float: left;margin-left: -100%;width: 33%;}
.bird-right-wing{float: left;margin-left: -33%;width: 33%;}

select, textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {border-color:none;box-shadow:none;border-radius: 2px}
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus{border-color:none;box-shadow:none;}
