.newregister-header/*  ����ֲ - header-Piece���� - ������Ʒ����ͷ�� - ����ie6+ */
.header-Piece{width:100%;}
.header-Piece .header-nav{width:100%;position:relative;z-index:1000;background-color:#FAFAFA;height:29px;border-bottom:2px #F5F5F5 solid;*height:27px;}
.header-Piece .header-nav-test{height:27px;line-height:27px;}
.header-Piece .header-left-nav,.header-left-nav li,.header-right-nav li{float:left;font-size:12px;margin-top: 2px;}
.header-left-nav li a.header-withdraw{margin-left: 10px;}
.header-Piece .header-right-nav{float: right;}
.header-Piece .header-right-nav li{position: relative;min-width:65px;margin: 0 4px;_width:65px;}
.header-Piece .header-left-nav li{padding: 0px 6px;}
.header-Piece .header-right-nav li .header-nav-outfield{color:#4f4f4f;height:27px;display: block;line-height: 27px;text-align: center;border-left: 1px #FAFAFA solid;border-right:1px #FAFAFA solid;min-width: 65px;width: 100%;}
.header-Piece .header-right-nav li .header-nav-outfield:hover{color:#398ABB;}
.header-Piece .header-right-nav li a.hover-change{background-color: #fff;border-left: 1px #D7D7D7 solid;border-right:1px #D7D7D7 solid;box-shadow: 0 6px 12px rgba(0,0,0,.175);color:#398ABB}
.header-Piece .header-right-nav .header-nav-menu{background-color:transparent;width: 100%;min-width:100%;top:25px;border-radius:0px;background-color: #fff;font-size: 12px;padding: 0;border: 1px #D7D7D7 solid;border-top: 0px #fff solid;}
.header-Piece .header-right-nav .header-nav-menu dd{width: 100%;height: 25px;text-align: center;line-height: 25px;}
.header-Piece .header-right-nav .header-nav-menu dd a{color:#4f4f4f;}
.header-Piece .header-right-nav .header-nav-menu dd:hover{background-color:#EFEFEF;}
.header-Piece .header-right-nav .header-nav-menu dd:hover a{color:#539AC4;}
.header-Piece .header-right-nav li.header-nav-bz{width: 83px;position:relative;z-index: 1000;}
.header-Piece .header-right-nav li i.cape-three{width: 0px;height:0px;line-height: 0px;border-width: 4px 3px 0;border-style:solid dashed;border-left-color: transparent;border-right-color: transparent;position: absolute;right:8px;top:12px;_border-width: 3px 3px 0;_top:11px;}
.header-Piece .header-right-nav li a.hover-change i.cape-three{border-width: 0px 3px 4px;border-style:dashed dashed solid dashed;_border-width: 0px 4px 4px;}
.header-Piece .header-right-nav li i.header-nav-icon{width: 20px;height: 20px;background-position: -23px -77px;position: absolute;top: 0px;left: 5px;}
.header-Piece .header-right-nav li i.header-nav-weix{background-position: -2px -77px;top: 3px;left: 10px;}
.header-Piece .header-right-nav li p{margin-left: 0px;margin-left: 14px;white-space:nowrap;}
.header-Piece .header-right-nav li.header-app{padding-right: 0px;width:70px;}
.header-Piece .header-right-nav li.header-app a{padding-right:0px;}
.header-Piece .header-right-nav li .header-nav-partition{position: absolute;right: -1px;top:2.5px;font-style: normal;background-color: #D7D7D7;height:21px;width:1px}
.header-Piece .header-right-nav li .dropdown-top{position: absolute;top: 100%;z-index: 1000;display: none;font-size: 14px;border: 1px solid rgba(0,0,0,.15);box-shadow: 0 6px 12px rgba(0,0,0,.175);right: -2px;width: 148px;height: 145px;background-color: #fff;*border: 1px #D7D7D7 solid;*right: -2px;_right: 0px}
.header-Piece .header-right-nav .header-nav-menu dt a.header-nav-outfield i.cape-three{top: 10px;}
.header-Piece .header-right-nav li .dropdown-top span.stay-white{height: 3px;width:70px;background-color: #fff;position: absolute;right: 0px;top:-2px;}
.header-Piece .header-right-nav li .dropdown-top img.center-block{margin: 12px 0 0 14px;width: 120px;height: 120px;}
.header-Piece .header-right-nav li.header-partition{min-width: 0px;margin: 0;color: #D7D7D7;_width:5px;line-height: 27px;}/*  --> 1  */
.header-Piece .header-search{width:100%;height:110px;background-color:#FFFFFF;z-index: 999;border-bottom: 3px #61B9EF solid;box-shadow:1px 3px 3px #DFDFDF;min-width: 1200px;}
.header-Piece .header-search .search-ing{margin-left: 242px;margin-right: 163px;}
.header-Piece .header-search .search-logo{width: 242px;}
.header-Piece .header-search .search-logo img{margin-top: 32px;}
.header-Piece .header-search .search-shopping{width:163px;margin-left: -163px;position: relative;z-index: 999;}
.header-Piece .header-search .search-shopping-icon{width: 143px;display: block;height: 37px;float:right;border: 1px #DEDEDE solid;background-color: #F9F9F9;margin-top: 40px;text-align: center;line-height: 37px;color: #868686;}
.header-Piece .header-search .search-shopping-icon .search-shopping-car{margin: 0 10px 0 5px;}
.header-Piece .header-search .search-shopping-icon i{color: #7BBDF0;}
.header-Piece .header-search .search-ing .search-register a{margin-left: 15px;}
.header-Piece .header-search .search-ing .search-column{margin:40px 0 0 21px;}
.header-Piece .header-search .search-ing .search-choose{margin-top: 4px;}
.header-Piece .header-search .search-ing .search-choose li{float: left;margin-right: 7px;}
.header-Piece .header-search .search-ing .search-choose li a{color:#4F4F4F}
.header-Piece .header-search .search-ing .search-choose li a:hover{color: #398ABB;}
.header-Piece .header-search .search-ing .search-column .search-column-input{width: 770px;height: 37px;position: relative;}
.header-Piece .header-search .search-ing .search-column .search-column-input input{position: absolute;width:755px;height: 17px;border: 2px #5FB7ED solid;padding-left: 15px;padding: 8px 0px 8px 15px;}
.header-Piece .header-search .search-ing .search-column .search-column-input .search-column-submit{height: 33px;width:99px;position: absolute;border: 0;right:-2px;top: 2px;background-color: #5FB7ED;color: #fff;font-size: 16px;}
.header-Piece .header-search .search-ing .search-column .search-column-input span.span-ie7{line-height: 33px;margin: 0;}
.header-Piece .header-search .search-shopping .dropdown-actual{position: absolute;top: 100%;z-index: 999;width: 312px;height:auto;right: 0;box-shadow: 0px 0px 9px rgba(0,0,0,0.75);background-color: #fff;border-radius: 2px;display: none;*border:1px #DEDEDE solid;_right:-1px;}
.header-Piece .header-search .search-shopping a.hover-change{background-color: #fff;box-shadow: 0px 0px 9px rgba(0,0,0,0.75);}
.header-Piece .header-search .search-shopping .dropdown-actual span.actual-cover{width: 142.15px;height: 9px;position: absolute;right: 0.4px;top: -9px;display: block;background-color: #fff;}
.search-shopping .actual-shopping{max-height: 370px;width: 100%;overflow-y:scroll;overflow-x:hidden;*height: 370px;}
.search-shopping .actual-shopping table.table{margin: 0;}
.search-shopping .actual-shopping td{border-top: 1px #E2E2E2 solid;height: 92px;display: table-cell;vertical-align: middle;font-size: 12px;}
.search-shopping .actual-shopping td.actual-table-img{width: 74px;}
.search-shopping .actual-shopping td.actual-table-img img{width: 53px;height: 53px;border: 1px #EBEBEB solid;}
.search-shopping .actual-shopping td.actual-table-test{width: 111px;padding: 0;}
.search-shopping .actual-shopping td.actual-table-test p{height: 60px;overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.search-shopping .actual-shopping td.actual-table-price{text-align: right;}
.search-shopping .actual-shopping td.actual-table-price p{display: block;*margin-right: 25px;}
.search-shopping .actual-shopping td.actual-table-price a{color: #4f4f4f;*margin-right: 25px;}
.search-shopping .dropdown-actual .actual-spooler{height: 53px;width: 100%;background-color: #F9F9F9;padding:0px 15px;*width: 282px;}
.search-shopping .dropdown-actual .actual-spooler span{display: block;float: left;height: 53px;line-height: 53px;margin-right: 10px;}
.search-shopping .dropdown-actual .actual-spooler a{display: block;float: right;font-size: 12px;text-align: center;width: 67px;height: 21px;background-color: #60B2E2;color: #fff;line-height: 21px;border-radius: 4px;margin: 15px 0;}
.search-shopping .actual-shopping-none{height: 96px;width: 310px;font-size: 12px;}
.search-shopping .actual-shopping-none i{font-size: 60px;margin: 0px 15px 0px 22px;float: left;display: block;*margin:0 15px;width: 60px;height: 85px;line-height: 85px;}
.search-shopping .actual-shopping-none span{float: left;display: block;height: 96px;line-height: 96px;}
.search-shopping .add-logo-div{height: 96px;width: 310px;display: table-cell;vertical-align: middle;}
.search-shopping .add-logo-div .add-logo-center{margin: 0 auto;*margin: 32px auto;}/*  --> 2  */

/* foorer-Piece*/
.foorer-Piece{width: 100%;background-color:#fff;border-top: 2px #E9E9E9 solid;min-width: 1200px;}
.foorer-Piece .foorer-guarantee{border-bottom: 1px #EDEDED solid;margin: 35px 53px 0px;height: 114px;padding-bottom: 31px;*height: 83px;}
.foorer-Piece .foorer-guarantee li{float: left;width: 272px;height: 83px;}
.foorer-Piece .foorer-guidebook dl{float: left;width: 250px;margin-top: 15px;margin-bottom: 0;}
.foorer-Piece .foorer-guidebook dl dt{font-weight: normal;font-size: 16px;margin-bottom: 10px; margin-left: 70px;}
.foorer-Piece .foorer-guidebook dl dd{margin-bottom: 5px;font-size: 12px;margin-left: 70px;}
.foorer-Piece .foorer-guidebook dl dd a{color:#4f4f4f;}
.foorer-Piece .foorer-guidebook-bottom{width:100%;height:40px;background-color:#61B9EF;color:#fff;text-align: center;line-height: 40px;}
.foorer-Piece .foorer-guidebook-bottom span{margin-right: 25px;font-size: 12px;}
.foorer-Piece .foorer-guarantee li i.screenimg-Guarantee{width: 70px;height: 70px;margin-left: 54px;float: left;margin-right: 16px;_margin-left: 27px;}
.foorer-Piece .foorer-guarantee li .screenimg-right-test{float: left;margin-top: 20px;height: 46px;width: 131px;border-right: 1px #CFCFCF solid;}
.foorer-Piece .foorer-guarantee li a{color:#4F4F4F;}
.foorer-Piece .foorer-guarantee li .screenimg-right-test h5{margin: 0;font-size: 16px;}
.foorer-Piece .foorer-guarantee li .screenimg-right-none{border-right: 0;}
.foorer-Piece .foorer-guarantee li i.screenimg-serve{background-position: -142px 0;}
.foorer-Piece .foorer-guarantee li i.screenimg-purchase{background-position: -72px 0;}
.foorer-Piece .foorer-guarantee li i.screenimg-explain{background-position:-2px 0;}
.foorer-Piece .foorer-guarantee li i.screenimg-halt{background-position: -214px 0px;}
.foorer-Piece .foorer-cueper{height: 60px;width: 100%;padding:14px 0 10px;*height:34px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper{width: 600px;height: 34px;margin: 0 auto 0;overflow: hidden;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i{display: block;width: 90px;height: 34px;float: left;margin-right: 12px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i.cueper-xypj{background-position: -47px -80px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i.cueper-kxwz{margin: 0;background-position: -396px -21px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i.cueper-shgs{background-position: -147px -80px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i.cueper-cxwz{background-position: -247px -80px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i.cueper-wlsh{background-position: -347px -80px;}
.foorer-Piece .foorer-cueper .foorer-web-cueper i.cueper-jbzx{background-position: -296px -21px;}

/*��¼ҳ��*/
.log-infirst{position: relative;height: 402px;width: 100%;min-width: 1200px}
.log-infirst .login-exc{width: 100%;position: absolute;}
.log-infirst .login-exc .carousel{height: 402px}
.log-infirst .login-exc .carousel .carousel-indicators{left: 50%;position: absolute;bottom: 10px}
.log-infirst .login-exc .carousel-inner .item img {height: 402px;width: 100%;}
.log-infirst .log-img{height: 402px;margin: 0 auto;width: 1200px;*width: 100%}
.log-infirst .log-img .log-caption{position: relative;float: right;overflow: visible;top:20px;background-color: #fff;width: 345px;height: 360px;padding: 0px;color: #000;text-align: left;text-shadow:none;right: 13%;*right: 24%;}
.log-infirst .log-img .log-caption form{background-color: #fff;width: 315px;margin: 15px}
.log-infirst .log-img .log-caption ul li{margin-bottom: 10px;*margin-bottom: 8px}
.log-infirst .log-img .log-caption ul li .fontsizes{float: left;color:#8C8C8C;font-size: 18px;font-weight: normal;}
.log-infirst .log-img .log-caption ul li .fontsizes span{margin-left: 5px;font-size: 14px}
.log-infirst .log-img .log-caption ul li a{float: right;color: #F5AF4B;white-space:nowrap;width: 108px;text-align: right;}
.log-infirst .log-img .log-caption ul li a.forget{color: #808080}
.log-infirst .log-img .log-caption ul li .photo-icon{float: left;color: #fff;background-color: #dbdbdb;width: 40px;height: 38px;text-align: center;line-height: 36px}
.log-infirst .log-img .log-caption ul li .photo-icon i.iconfont{font-size:18px;}
.log-infirst .log-img .log-caption ul li .input-box{float: left;}
.log-infirst .log-img .log-caption ul li .input-box .input-text{float: left;height: 28px;line-height: 28px;width:254px;border: 1px solid #DCDCDC;padding:4px 6px 4px 12px;_padding:5px 6px 5px 10px;}
.log-infirst .log-img .log-caption ul li .input-box span{line-height: 38px}
.log-infirst .log-img .log-caption ul li .submit-login{width: 310px;height: 40px;padding: 0;line-height: 35px;text-align: center;background-color: #F5AF4B;border: none;color: #fff;font-size: 18px;}
.log-infirst .log-img .log-caption ul li .apartfrom-rapid p{color: #747474;margin-bottom:10px;_display: inherit;}
.log-infirst .log-img .log-caption ul li .apartfrom-regter{height: 34px;}
.log-infirst .log-img .log-caption ul li .apartfrom-regter a{display: block;float: left;width: 17%;text-align: center;height: 34px;line-height: 34px;color: #DBDBDB;}
.log-infirst .log-img .log-caption ul li .apartfrom-regter i{width: 100%;display: block;height: 34px;font-size: 34px;cursor: pointer;}
.log-infirst .log-img .log-caption ul li .apartfrom-regter i:hover{color: #00BFFF;}
.log-infirst .log-img .log-caption ul li .tiysix{width: 310px;height:30px;line-height: 30px;border: 1px solid #FFE583;background-color: #FFF7D3;}
.log-infirst .log-img .log-caption ul li .tiysix .glyphicon{float: left;color:#FDCE13;margin-right: 5px;font-size: 16px;margin-top:8px;margin-left: 5px}
.log-infirst .log-img .log-caption ul li .tiysix p{float: left;color: #8C8C8C;margin: 0px;}
.log-infirst .log-img .log-caption ul li .next .glyphicon{color:#DCA9A9 }
.log-infirst .log-img .log-caption ul li .next{border: 1px solid #DCA9A9;background-color: #EED5D5;*margin-bottom: 0}
.log-infirst .log-img .log-caption .checkbox{margin: 0;padding: 0;}
.log-infirst .log-img .log-caption .checkbox input{margin: 4px 10px 0 0;width: 13px;height: 13px;}
.log-infirst .log-img .log-caption .checkbox label{float: left;width: 108px;}
.log-infirst .login-exc .carousel-control.left, .log-infirst .login-exc .carousel-control.right{background: inherit;}

/*ע��ҳ��*/
.detailmain{margin: 0 auto;}
.register{border-radius: 2px; background-color: #fafafa; padding: 40px 0;}
.register .apartfrom{width: 1000px; margin: 0 auto; background-color: #fff;}
.register .apartfrom .apartfrom-left{width: 700px;float: left;}
.register .apartfrom .apartfrom-right{width:298px;float: left;border-left: 1px #E3E3E3 solid;}
.register .apartfrom .apartfrom-left .title{height: 51px;width: 100%;margin: 0;border-bottom: 1px #E6E6E6 solid;}
.register .apartfrom .apartfrom-left .title i,.register .apartfrom .apartfrom-left h3 p{float: left;}
.register .apartfrom .apartfrom-left .title .apartfrom-left-center{width: 350px;margin: 0 auto;height: 51px;position: relative;border-bottom: 3px #ff4c4c solid;top: 1px;}
.register .apartfrom .apartfrom-left .title p{font-size: 20px;height: 51px;line-height: 55px;text-align: center;}
.register .apartfrom .apartfrom-left .title .apartfrom-left-center .apartfrom-triangle{width: 0px;height:0px;line-height: 0px;border-width: 5px 5px 0;border-style: solid dashed dashed dashed;border-left-color: transparent;border-right-color: transparent;position: absolute;left: 50%;color:#ff4c4c;bottom: -8px;_bottom: -9px;}
.register .apartfrom .apartfrom-right .apartfrom-rapid{width: 220px;height: 200px;margin: 25px 0px 0px 20px;}
.register .apartfrom .apartfrom-right .apartfrom-img,.register .apartfrom .apartfrom-right .apartfrom-img img{height: 400px;width: 100%;}
.register .apartfrom-regter{height: 71px;}
.register .apartfrom-regter a{display: block;float: left;width: 33%;text-align: center;height: 71px;line-height: 71px;color: #DBDBDB;}
.register .apartfrom-regter i{width: 100%;display: block;height: 71px;font-size: 45px;cursor: pointer;}
.register .apartfrom-regter .zfb{ margin-top: 4px;}
.register .apartfrom-regter i:hover{color: #ff4c4c;}
.register .apartfrom .apartfrom-right .apartfrom-rapid p{font-size: 12px;margin: 0;color: #3E3E3E;margin:5px 0;}
.register .apartfrom .apartfrom-right .apartfrom-rapid p a{color: #ff4c4c;font-weight: bold;}
.register .apartfrom-left-test{width: 620px;margin: 47px 0 0 80px;}
.register .apartfrom-left-test .table>tbody>tr>th, .register .apartfrom-left-test .table>tbody>tr>td{margin: 0;padding: 0;}
.register .apartfrom-left-test td{height: 60px;}
.register .apartfrom-left-test td button.apartfrom-submit{width: 270px;height: 37px;border: 0;background-color: #ff4c4c;color: #fff;font-weight: bold;border-radius: 2px;font-size: 16px;background-image: -moz-linear-gradient(bottom,#ff4c4c,#ff4c4c,#ff4c4c);background-image:-webkit-gradient(linear, center bottom, center top, from(#ff4c4c),color-stop(0.5,#ff4c4c),to(#ff4c4c));}
.register .apartfrom-left-test td input.error{border: 1px #FF0000 solid;outline: none;float: left;display: block;}
.register .apartfrom-left-test td input.valid{float: left;display: block;}
.register .apartfrom-left-test td label.error{font-weight:normal;margin-left: 12px;color:#FF0000;display: block;float: left;height: 38px;line-height: 38px;}
.register .apartfrom-left-test td input{height: 28px;line-height:28px;width: 256px;font-size: 12px;border: 1px #E0E0E0 solid;border-radius: 2px;}
.register .apartfrom-left-test td span{line-height:36px;}
.register .apartfrom-left-test td input.apartfrom-verify{width: 100px;margin-right:12px;float: left;}
.register .apartfrom-left-test td button.apartfrom-text{width: 120px;height: 37px;float: left;text-align: center;border: 1px #CDD5D9 solid;background-color: #EFF4F6;color: #3D3E41;}
.register .apartfrom-left-test .table > tbody > tr > td{border-top:none;}
.register .apartfrom-left-test td.apartfrom-cellular{width:90px;text-align: right;line-height: 35px;}
.register .apartfrom-left-test td.apartfrom-fise{font-size: 12px; position: relative;;}
.register .apartfrom-left-test td.apartfrom-fise label{position: absolute; left: 258px; line-height: 22px;}
.register .apartfrom-position-hao{position: relative;}
.register .apartfrom-position-hao span{font-size: 12px;line-height:40px;}
.register .apartfrom-position-hao span.iconfont{font-size: 18px;margin-left: 3px;}
.register .apartfrom-position-hao i.iconfont{position: absolute;left: 234px;top: 9px;font-size: 18px;color: #CCCBCB;}
.register .apartfrom-negotiate td{height: 43px;}

.register .apartfrom-fise input,.apartfrom-fise p{float: left;display: block;}
.register .apartfrom-fise p{margin: 0;height: 25px;line-height: 22px;}
.register .apartfrom-fise p a{color: #ff4c4c;}
.register .apartfrom-fise p a:hover{color: #ff4c4c;}
.register .apartfrom-left-test td.apartfrom-fise input{width: auto;margin: 0;margin: 5px 10px 0px 0px;height: auto;border: 0;*margin: 0px 10px 0px 0px;}
.register .apartfrom-left-test td.apartfrom-error{position: relative;}
.register .apartfrom-left-test td.apartfrom-error label.error{position: absolute; top:0; left: 243px;*top:0px;*left: 260px;_top:12px}
.register .apartfrom-left-test .table > tbody > tr > td{*padding-top: 0;*padding-bottom: 0;}
.register .apartfrom-position-hao input{_margin-top: 13px;}

/*ע��ɹ�*/
.success-register{background: #FFFFFF;width:990px;margin: 20px auto;border: 6px solid #E1E1E1;}
.success-register .success-text{width: 650px;height: 175px;margin: 60px auto 0;background: url(../images/success.png) no-repeat 54px 0px;}
.success-register .success-text p.suc-your{margin-left: 130px;height: 52px;line-height: 52px;color: #000;font-size: 22px;font-weight: bold;margin-bottom: 5px}
.success-register .success-text p.suc-zhang{margin-left: 130px;color: #3E3E3E;margin-bottom: 30px}
.success-register .success-text p.suc-zhang i{font-style: normal;color: #ff4c4c;margin-left: 3px;margin-right: 3px}
.success-register .success-text .success-button{margin-left: 130px}
.success-register .success-text .success-button span{float: left;margin-top: 5px}
.success-register .success-text .success-button a.btn{float: left;padding: 0;width: 100px;height: 34px;color: #fff;line-height: 34px;margin-right:30px;margin-left: 5px;border: none;border-radius: 0;text-align: center;color: #fff;font-weight: bold;font-size: 15px}
.success-register .success-button .btn-success{background-color: #12B522;background-image: none;}
.success-register .success-button .btn-primary{background-color: #ff4c4c;background-image: none;}
.success-register .success-text-footer{width: 940px;border-top:1px solid #E7E7E7;margin: 0 auto;}
.success-register .success-text-footer .text-footer{width:270px;margin: 40px auto}
.success-register .success-text-footer img{float: left;width: 116px;height: 116px}
.success-register .success-text-footer p{float: left;margin-top: 10px;margin-left: 25px;width: 110px;font-size: 20px;color: #3E3E3E}

/*�һ�����ҳ��*/
/*��д�˻�*/
.add-names{ background-color: #fafafa; padding: 35px 0; border-top: 2px solid #eee;}
.add-body .add-progress{padding:50px 0 0px 200px; }
.add-body .add-progress .fonter{ float: left; ;position: relative; width: 160px;}
.add-body .add-progress .fonter hr{position: absolute; top: 10px; width:160px;  border: 2px solid #ccc; border-radius: 2px;}
.add-body .add-progress .fonter p{ text-align: center; margin-top: 5px; color: #999;}
.add-body .add-progress .fonter i{ color: #fff; display: block; background-color: #ccc; width: 20px; height: 20px; border-radius: 50%; text-align: center; font-style: normal; line-height: 21px; position: relative; z-index: 1; left: 70px;}
.add-body .add-progress li.active i{ background-color: #ff4c4c; color: #fff;}
.add-body .add-progress li.active hr{ border: 2px solid #ff4c4c;}

.add-body{width: 1000px;height:400px;border:1px solid #eee;margin:0 auto;background: #FFF}
.add-body .forget-form-type{width: 500px;height: 200px;margin: 60px auto}
.add-body .add-group {margin-bottom: 5px;width: 500px;height: 50px;}
.add-body .add-group span.error{line-height: 35px;margin-left:5px;color: red;}
.add-body .add-label {margin-bottom: 0;padding-top: 7px;text-align: right;float: left;font-weight:normal;margin-right: 10px;width: 70px}
.add-body .add-control{float: left;border-radius: 1px;color: #555;display: block;font-size: 14px;height: 25px;line-height: 27px;width:270px;border:1px solid #DCDCDC;padding:5px 12px;}
.add-body .add-control:focus {border-color: #ff4c4c;}
.add-body .add-group .yest{width: 100px}
.add-body .add-group .btn{color: #fff;width: 100px;height: 36px;line-height: 30px;padding: 0;margin-left: 80px;border:none;border-radius: 0px}
.add-body .add-group .btn-default{background: #ff4c4c;}
.add-body .add-group img{background: #fff;width: 100px;height: 35px;float: left;border:0;margin-left: 10px;color:#1BC0C4 }

/*ȷ����֤��Ϣ*/
.add-names .add-fonter li.tist{background: #E7F8FD url(../images/tp2.png) no-repeat right;}
.add-body .add-ccx ul.nav-tabs {border-bottom: 1px solid #ddd;height: 42px;*height: 41px}
.add-body .add-ccx ul li{margin-left: 50px;width: 150px;text-align: center;display: block;height: 100%;}
.add-body .add-ccx ul li a{display: block;height: 100%;padding:0;margin:0;line-height:38px;}
.add-body .add-group .phone{width: 155px;zoom:0;}
.add-body .add-group .btn-success{margin-left: 40px;border:none;float: left;}
.add-body .add-group .input-li{width:150px;float: left;} 
.add-body .add-group span{line-height:36px;}
/*�޸�����*/
.add-names .add-fonter li.secend{background: #E7F8FD url(../images/tp3.png) no-repeat right;}
/*���*/
.add-names .add-fonter li.last{background:#1C96D5;color: #fff}
.add-body .aly-ccx{width: 400px;height: 200px;margin: 50px auto;}
.add-body .aly-ccx .ccx-li img{float: left;width: 53px;height: 51px}
.aly-ccx .ccx-li p{display: inline-block;;float: left;height: 51px;line-height: 51px;margin-left: 10px;font-size: 20px;font-weight:500;color: #3D3E41}
.add-body .aly-ccx .rutuer{text-align: center;margin-top: 20px}
.aly-ccx .rutuer a,.aly-ccx .rutuer a:hover{color:#ff4c4c;margin:0 10px;}


/*login  2016-2-2*/
.login-header{height:100px; width:100%; }
.login-header .header{width:1000px;height:100px;margin:0 auto;line-height:100px;}
.login-header .header img{height:100%;float:left;}
.login-header .header .welcome-left{float:left;height:58px;margin:21px 0;display:block;margin-right:15px;background:url('../images/login-header1.png') no-repeat; text-indent:-99999px;width:158px;}
.login-header .header .welcome-login{font-size:24px;color:#666;padding-left:20px;position:relative;border-left:1px #eee solid;height:50px;line-height:50px;margin:25px 0;display:block;float:left;}
.login-header .header .service{float:right;*float:none;*margin-left:640px;}
.login-header .header .service a{ color: #666;}
.login-header .header .service .cutoff-line{ color: #aaa;}

.bz-login{height:500px;width:100%;min-width:1000px;position:relative;}
.bz-login button:active{ border-color:#fff;}
.bz-login .login-img img{width:100%; height:500px;}
.bz-login .quick-login{display:none;}
.bz-login .login-img{ position:absolute; top:0; left:0; width:100%;}
.bz-login .login-con{ width:1000px; height:500px; margin:0 auto; position:relative;}
.bz-login .login{position:absolute;top:65px;right:0;width:345px;height:370px;background-color:#fff; opacity: 0.9;filter:alpha(opacity=90);}
.bz-login .login .hd{position:absolute;top:0;right:0;cursor:pointer;}
.bz-login .login ul{padding:20px 20px;}
.bz-login .login .title{font-size:20px;color:#333;}
.bz-login .login .remind{height:26px; background-color:#ffeaea; margin:12px 0;}
.bz-login .login .remind i{float:left;color:#ff4c4c;line-height:25px;margin:0 5px;}
.bz-login .login .remind p{font-size:12px;color:#666;line-height:26px;float:left;}
.bz-login .login .fast-login{display:block;}
.bz-login .normal-login .forget-form-account span{margin-left:3px;}
.bz-login .quick-login .fast-login{width:100%;height:40px;margin:10px 0;}
.bz-login .quick-login .fast-login .input-box{float:left;height:38px;}
.bz-login .quick-login .fast-login .input-box span{height:28px;line-height:40px;}
.bz-login .quick-login .fast-login .input-text{float:left;height:28px;line-height:30px;width:140px;padding:6px 6px 4px 12px;_padding:5px 6px 5px 10px;}
.bz-login .quick-login .fast-login .input-text:focus{ border:1px solid #ff4c4c;}
.bz-login .quick-login .fast-code .input-text:focus{ border:1px solid #ff4c4c;}
.bz-login .quick-login .fast-login a{font-size:12px;color:#333;line-height:38px;}
.bz-login .quick-login .fast-login a img{margin-left:10px;vertical-align:middle;}
.bz-login .quick-login .fast-code{margin-bottom:10px;}
.bz-login .quick-login .fast-code .code-w{ width: 140px; margin-right: 25px;}
.bz-login .quick-login .fast-code .input-box{float:left;height:38px;}
.bz-login .quick-login .fast-code .input-box span{height:28px;line-height:40px;}
.bz-login .quick-login .fast-code .input-text{float:left;height:28px;line-height:30px;width:140px;padding:6px 6px 4px 12px;display:block;}
.bz-login .quick-login .fast-code .getpwd:focus{outline: 0;}
.bz-login .quick-login .fast-code .getpwd{background-color:#f6f6f6;border:1px solid #ccc;color:#666;width:130px;height:40px;margin-left:10px;padding:0 0 0 6px;}
.bz-login .login .erro-code{width:100%; height:40px; margin-top:10px; *margin-top:5px;}
.bz-login .login .erro-code a{font-size:12px;color:#333; line-height:40px;}
.bz-login .login .erro-code a img{margin-left:20px;margin-top:-2px;}
.bz-login .login .erro-code input{width:90px;height:36px;border:1px solid #ccc;font-size:14px;color:#999; padding:0 6px;margin:0;}
.bz-login .login form{position:relative;}
.bz-login .login .erro-code input:focus{ border:1px solid #3aa2e4;}
.bz-login .login .init-login{width:100%;height:40px; position: relative;}
.bz-login .login .init-login .input-text:focus{ border:1px solid #ff4c4c;}
.bz-login .login .login-pwd .input-text:focus{ border:1px solid #ff4c4c;}
.bz-login .login .init-login .input-text:focus+.photo-icon{ border: 1px solid #ff4c4c; color: #ff4c4c;background-color: #f1faff}
.bz-login .login .login-pwd .input-text:focus+.photo-icon{ border: 1px solid #ff4c4c; color: #ff4c4c;background-color: #f1faff}

.bz-login .login span{height:28px;line-height:40px;}
.bz-login .login .init-login .photo-icon{float:left;color:#fff;background-color:#dbdbdb;width:40px;height:38px;text-align:center;line-height: 36px; position: absolute;left: 0px; border: 1px solid #ccc;}
.bz-login .login .init-login input{height:40px;border:none;font-size:14px;color:#999;padding:0 0 0 6px;}
.bz-login .login .init-login .input-text{position: absolute; left: 41px;float:left;height:28px;line-height:30px;width:242px;padding:6px 6px 4px 12px;_padding:5px 6px 5px 10px; border: 1px solid #ccc;}
.bz-login .login .login-pwd{width:100%;height:40px;margin:12px 0; *margin:8px 0; position: relative;}
.bz-login .login .login-pwd .input-text{position: absolute; left: 41px;float:left;height:28px;line-height:30px;width:242px;padding:6px 6px 4px 12px;_padding:5px 6px 5px 10px;}
.bz-login .login .login-pwd i{ font-size:20px; color:#fff; line-height:36px;}
.bz-login .login .login-pwd .photo-icon{position: absolute; left: 0px;float:left;color:#fff;background-color:#dbdbdb;width:40px;height:38px;text-align:center;line-height: 36px; border: 1px solid #ccc;}
.bz-login .login .login-pwd input{height:40px;border:none;font-size:14px;color:#999;padding:0 0 0 6px; border:1px solid #ccc;}
.bz-login .login .remember-pwd .choose i{font-size:12px;color:#333;position:relative;bottom:6px;}
.bz-login .login .remember-pwd input{ margin:0 5px 2px 0;}
.bz-login .login .remember-pwd label{width:108px;float:left; font-size:12px; color: #666;}
.bz-login .login .remember-pwd a{width:108px;float:right;text-align:right;color:#666;font-size:12px;}
.bz-login .login .login-submit:focus{ outline: 0}
.bz-login .login .login-submit{width:100%;height:36px;background-color:#ff4c4c;border:none;font-size:18px;color:#fff;margin-top:14px;}
.bz-login .login .bz-register{margin-top:8px;color:#333;}
.bz-login .login .bz-register a{color:#ff4c4c;}

.login-footer{height:130px;width:100%;}
.login-footer .bottom-nav{width:1000px;margin:0 auto;padding-top:35px;}
.login-footer .bottom-nav ul{text-align:center;}
.login-footer .bottom-nav li{display: inline;text-align:center;height:12px;line-height:12px;}
.login-footer .bottom-nav li a{padding:0 15px;font-size:12px;color:#666;border-right:1px solid #666;}
.login-footer .bottom-nav li.last a{border:none;}
.login-footer .aboutus{width:1000px;margin:0 auto;padding-top:20px;}
.login-footer .aboutus ul{text-align:center;}
.login-footer .aboutus li{display: inline;text-align:center;margin-right:30px;}
.login-footer .aboutus li a{padding:0 10px;font-size:12px;color:#666;}


/* register */
.newregister-header{height:100px; width:100%; background-color:#fafafa; border-bottom: 1px solid #ececec;}
.newregister-header .header{width:1200px;height:100px;margin:0 auto;line-height:100px;}
.newregister-header .header img{margin-bottom:20px;}
.newregister-header .header .welcome-login{font-size:24px;color:#666;margin:10px 0 0 25px;padding-left:20px; position: relative;}
.newregister-header .header .service{float:right;*float:none;*margin-left:640px;}
.newregister-header .header .line{ display: block; width: 1px; height: 44px; background-color: #ccc; position: absolute; top: -4px; left: -4px;}

.newregister-footer{height:130px;width:100%; background-color:#fff;}
.newregister-footer .bottom-nav{width:1200px;margin:0 auto;padding-top:35px;}
.newregister-footer .bottom-nav ul{margin-left:165px;}
.newregister-footer .bottom-nav li{float:left;text-align:center;height:12px;border-right:1px solid #666;line-height:12px;}
.newregister-footer .bottom-nav .last{border:none;}
.newregister-footer .bottom-nav li a{padding:0 15px;font-size:12px;color:#666;}
.newregister-footer .aboutus{width:1200px;margin:0 auto;padding-top:20px;}
.newregister-footer .aboutus ul{padding-left:305px;*padding-left:290px;}
.newregister-footer .aboutus li{float:left;text-align:center;margin-right:30px;}
.newregister-footer .aboutus li a{padding:0 10px;font-size:12px;color:#666;}
