.ubg{border:1px solid #e5e5e5;background-color:#fff;overflow:hidden;zoom:1;}
.u_l{width:170px;padding:10px;background:#fff;border-right:1px solid #e5e5e5;}
.u_r{padding:10px 40px 30px 40px;border-left:1px solid #e5e5e5;line-height:25px;background:#fff;margin-left:190px;min-height:600px;}
.dsl{display:inline;font-weight:normal;}
.udl{margin:0 5px 15px 5px;}
.udl dt{border-bottom:1px solid #e5e5e5;line-height:40px;display:block;font-size:14px;color:#333;font-weight:bold;margin-bottom:10px;}
.udl dd{line-height:30px;text-indent:15px;}
.udl a{display:block;color:#777;margin-bottom:1px;}
.udl a:hover,.udl a.on{color:#c40000;text-decoration:none; background-color:#e5e1e1;}
.ubg .u_r .article a .left:hover{color:#c40000;}
.article{width:96%;}
.ainfo{line-height:32px;padding-top:10px;font-size:14px;}
.article li{border-bottom:1px dashed #ddd;display:block;width:100%; line-height:45px;}
.article a{display:block;width:100%;overflow:hidden;}
.ah1{color:#333;line-height:30px;padding-bottom:10px;border-bottom:2px solid #ddd;}
.a_goods a{width:220px;height:280px;display:inline;float:left;margin:10px 6px;line-height:18px;white-space:nowrap;overflow:hidden;}

/*反馈的页面-kxx-2016-08-06*/
.feedback{margin: 50px auto;max-width:822px;min-height:540px;}
.feedback .step-hd { height: 69px;text-align: center;border-bottom: 1px #eaeaea dashed; color: #5d5d65;font: 14px "Microsoft YaHei";line-height: 2em;padding: 20px 0 10px;}
.feedback .step {position: relative;margin-bottom: 30px;z-index: 1;*zoom: 1;}
.feedback .step h3 {font: 14px/20px "Microsoft YaHei";}
.feedback .step h3 .title-must {float: left; margin: 2px 0 0 -6px; color: red;}
.feedback .step h3 .title-icon {float: left; width: 20px;height: 20px;text-align: center;}
.feedback .step h3 .title-span { float: left;margin-left: 5px;color: #5d5d65; *margin-top: 1px;}
.feedback .text-area { width: 693px;height: 148px; padding: 10px; border: 1px solid #dce1e8;font: 12px/18px "Microsoft YaHei";color: #ccc;border-radius: 7px;overflow: hidden;resize: none;outline: 0;overflow:auto;}
.feedback .step-cont { margin-top: 20px; margin-left: 25px;}
.feedback .clearfix { zoom: 1;}
.feedback .cus-info dl {margin-top: 20px; font: 12px/16px "Microsoft YaHei";}
.feedback .cus-info dl dt {float: left;margin-right: 5px; color: #5D5D65;}
.feedback .contact dt {line-height: 32px; *line-height: 36px;}
.feedback .contact .controls { position: relative;font: 12px/18px "Microsoft YaHei";}
.feedback .cus-info dl dd {float: left; margin-right: 10px;}
.feedback .step-cont { margin-top: 20px; margin-left: 25px;}
.feedback .contact .controls input { width: 197px; padding: 7px 8px; border: 1px solid #ccc; color: #5D5D65;border-radius: 5px;line-height: 1;}
.feedback .submit-btn:hover {color: #fff;text-decoration: none;border-color: #3b87ee;background: #458fef;}
.feedback .submit-btn{ float: left;padding: 8px;width: 103px;font: 16px/18px "Microsoft YaHei";color: #fff;text-decoration: none; border: 1px #3579d6 solid; border-radius: 2px; background: #3579d6;text-align: center;}

/* 帮助中心 */
.help-soicn{margin:22px auto 30px;background-color:#fff;padding:57px 0;min-height:500px;position:relative;}

.help-soicn .clearfix{*zoom: 1; zoom:1;}
.help-soicn .help-inside{margin:0 auto;width: 1025px;display:block;}
.help-inside .help-left,.help-inside .help-right{float:left;}
.help-inside .help-left{width:153px;border:1px #ECECEC solid;margin-right:42px;background-color:#FAFAFA;}
.help-inside .help-left li{width:100%;}

.help-left li p{float:left;width: 100px;}
.help-left li i{display:block;width:16px;float:right;transition: all 0.2s ease-in-out 0s;-moz-transition:all 0.2s ease-in-out 0s;-webkit-transition:all 0.2s ease-in-out 0s;-o-transition:all 0.2s ease-in-out 0s;}
.help-left li .help-trade{height:47px;line-height: 47px;font-size:14px;cursor:pointer;border-top:1px #E1E1E1 solid;padding:0 18px;width:117px;font-weight:bold;}
.help-left li .trade-none{border-top:none;}
.help-left li dl{min-height:120px;}
.help-left li .help-gwzn{display:none;}
.help-left li dd{height:26px;line-height: 26px;margin-bottom:10px;font-size:14px;padding:0 18px;width:117px;cursor:pointer;transition: all 0.2s ease-in-out 0s;-moz-transition:all 0.2s ease-in-out 0s;-webkit-transition:all 0.2s ease-in-out 0s;-o-transition:all 0.2s ease-in-out 0s;}
.help-left li dd a{color:#666666;display:block;width:100%;height:100%;}
.help-left li dd.active{background-color:#C40000;}
.help-left li dd.active a{color:#F4F9FC;}
.help-left li dd:hover a{color:#C40000;}
.help-left li dd.active:hover a{color:#F4F9FC;}
.help-left li.active .help-trade i{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.help-inside .help-right{width:823px;border:1px #EEEEEE solid;}
.help-right .sub-titile{background-color:#F8F8F8;margin:0px;height:49px;line-height:49px;width:749px;padding:0 37px;font-size:16px;font-weight:normal;color:#676767;}
.help-right .help-clause{width:749px;padding:25px 37px 60px;font-size:15px;}
.help-clause p{color:#737373;}
.help-clause img{max-width:100%;}